<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                            <h2 style="color: white">ABOUT US TABLE</h2>
                            <p class="pull-right">
                                <a href="" class="btn btn-primary" @click.prevent="addAbout()" style="color: white">
                                    <i class="fa fa-plus"></i>
                                    <b>Add About Us</b>
                                </a>
                            </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th width="30px">#</th>
                                        <th><i class="icon_image"></i> New Exe </th>
                                        <th><i class="icon_piechart"></i> Old Exe </th>
                                        <th><i class="icon_cog"></i> About US</th>
                                        <th><i class="icon_calendar"></i> Created</th>
                                        <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(about, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>
                                        <img :src="about.new_executives" class="img img-thumbnail"
                                             alt="Image" width="50px" height="50px">
                                    </td>
                                    <td>
                                        <img :src="about.old_executive" class="img img-thumbnail" alt="Image" width="50px"
                                             height="50px">
                                    </td>
                                    <td v-html="about.about.substr(0, 50)"></td>
                                    <td>{{ about.created_at | dateOnly }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="#" @click.prevent="viewAbout(about)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="addAbout" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="submitForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Add New About US</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="new_exe">
                                    <i class="fa fa-image"></i>
                                    <b>New Executive Group Picture</b>
                                </label>
                                <input type="file" class="form-control" id="new_exe"
                                       @change="newExecutiveFile">
                            </div>

                            <div class="form-group">
                                <label for="old_exe">
                                    <i class="fa fa-photo"></i>
                                    <b>Old Executive Group Picture</b>
                                </label>
                                <input type="file" class="form-control" id="old_exe"
                                       @change="oldExecutiveFile">
                            </div>

                            <div class="form-group">
                                <label><i class="fa fa-server"></i> About Us Content</label>
                                <vue-editor v-model="about.aboutUS" :editorToolbar="maintenance"
                                            placeholder="Enter About Us Content"
                                            required class="content">
                                </vue-editor>
                            </div>
                            <hr>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Save About US</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editAbout" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit About US</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <img :src="about.new_exe" alt="image" height="120" width="120"><br>
                                <label>
                                    <i class="fa fa-image"></i>
                                    <b>New Executive Group Picture</b>
                                </label>
                                <input type="file" class="form-control"
                                       @change="newExecutiveFile">
                            </div>

                            <div class="form-group">
                                <img :src="about.old_exe" alt="image" height="120" width="120"><br>
                                <label>
                                    <i class="fa fa-image"></i>
                                    <b>Old Executive Group Picture</b>
                                </label>
                                <input type="file" class="form-control"
                                       @change="oldExecutiveFile">
                            </div>

                            <div class="form-group">
                                <label><i class="fa fa-server"></i> Post Content</label>
                                <vue-editor v-model="about.aboutUS" :editorToolbar="maintenance"
                                            placeholder="Enter About Us Content"
                                            required class="content">
                                </vue-editor>
                            </div>
                            <hr>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Update About US</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        components:{
            VueEditor,
        },
        data(){
            return{
                maintenance: [
                    ["bold", "italic", "underline"],
                    [{ list: "ordered" }, { list: "bullet" }],
                    ["image", "code-block"],
                ],
               allAbout:[],
               about:{
                   id:'',
                   new_exe:'',
                   old_exe:'',
                   aboutUS:'',
               },
               pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
               },
               search:'',
               length:10,
               showImage:[],
               progress:false,
               holdme:0,
            }
        },

        methods:{

            getAllAbout(){
                axios.get('/admin/get/about')
                    .then((res) => {
                        this.allAbout = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all About US Failed", "warning");
                });
            },

            newExecutiveFile(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.about.new_exe = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            oldExecutiveFile(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.about.old_exe = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            addAbout(){
                this.clearForm();
                $('#addAbout').modal('show');
            },

            closeModal(){
                $('#addAbout').modal('hide');
            },

            viewModal(){
                $('#editAbout').modal('show');
            },

            viewAbout(about){
                this.about.id = about.id;
                this.about.new_exe = about.new_executives;
                this.about.old_exe = about.old_executive;
                this.about.aboutUS = about.about;

                this.viewModal();
            },

            clearForm(){
               this.about.aboutUS = '';
               $('#new_exe').val('');
               $('#old_exe').val('');
            },

            submitForm(){
                this.progress = true;
                let formdata = new FormData();

                formdata.append('new_exe', this.about.new_exe);
                formdata.append('old_exe', this.about.old_exe);
                formdata.append('about', this.about.aboutUS);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/save/about', formdata, config)
                .then(() => {
                    this.closeModal();
                    Fire.$emit('refresh');
                    Toast.fire("Success :","About US saved successfully","success");
                    this.progress = false;
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            editForm(){
                this.progress = true;

                let formdata = new FormData();
                formdata.append('id', this.about.id);
                formdata.append('new_exe', this.about.new_exe);
                formdata.append('old_exe', this.about.old_exe);
                formdata.append('about', this.about.aboutUS);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/update/about', formdata, config)
                    .then(() => {
                        $('#editAbout').modal('hide');
                        Fire.$emit('refresh');
                        Toast.fire("Success :","About US updated successfully","success");
                        this.progress = false;
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllAbout();
            Fire.$on('refresh',() => {
                this.getAllAbout();
            });
        },

        computed:{

            filteredAbout(){
                let about = this.allAbout;
                if(this.search){
                    about = about.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return about;
            },

            paginated(){
                return this.paginate(this.filteredAbout, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }

    .content {
        background-color: white;
        height: 350px;
    }
</style>