<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                            <h2 style="color: white">ADVERT TABLE</h2>
                            <p class="pull-right">
                                <a href="" class="btn btn-primary" @click.prevent="addAdvert()" style="color: white">
                                    <i class="fa fa-plus"></i>
                                    <b>Add New Advert</b>
                                </a>
                            </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th width="30px">#</th>
                                        <th><i class="icon_image"></i> Logo</th>
                                        <th><i class="icon_piechart"></i> Name </th>
                                        <th><i class="icon_link"></i> Link</th>
                                        <th><i class="icon_star"></i> Status</th>
                                        <th><i class="icon_calendar"></i> Created</th>
                                        <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(advert, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>
                                        <img :src="advert.banner" class="img img-thumbnail"
                                             alt="Image" width="50px" height="50px">
                                    </td>
                                    <td>{{ advert.title.substr(0,30) }}</td>
                                    <td>{{ advert.link }}</td>

                                    <td>
                                        <a v-if="advert.status == 1" @click.prevent="declineAdvert(advert.id)" href="" class="btn btn-info btn-sm">
                                            <i class="fa fa-check-circle"></i> Published
                                        </a>

                                        <a v-else href="" @click.prevent="publishAdvert(advert.id)" class="btn btn-danger btn-sm">
                                            <i class="fa fa-close"></i> Declined
                                        </a>
                                    </td>


                                    <td>{{ advert.created_at | dateOnly }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success btn-sm" href="#" @click.prevent="viewAdvert(advert)">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a class="btn btn-danger btn-sm" href="#" @click.prevent="deleteAdvert(advert.id)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="addAdvert" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="submitForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Add New Advert</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="banner_exe">
                                    <i class="fa fa-image"></i>
                                    <b>Add Advert Banner</b>
                                </label>
                                <input type="file" class="form-control" id="banner_exe"
                                       @change="newAdvertBanner">
                            </div>

                            <div class="form-group">
                                <label>
                                     <i class="fa fa-navicon"></i>
                                     Organization Name
                                </label>
                                <input type="text" v-model="advert.name" class="form-control"
                                       placeholder="Enter organization name">
                            </div>

                            <div class="form-group">
                                <label>
                                     <i class="fa fa-contao"></i>
                                    Description
                                </label>
                                <textarea cols="10" rows="5" v-model="advert.description" style="resize: none"
                                         class="form-control" placeholder="Describe the advert briefly"></textarea>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-link"></i>
                                    Organisation Link
                                </label>
                                <input type="text" v-model="advert.link" class="form-control"
                                       placeholder="Enter URL of organization website eg. www.skuuni.com">
                            </div>

                            <hr>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Save Advert</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editAdvert" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit Advert</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <img :src="advert.banner" alt="Logo" width="70" height="70"
                                     class="img img-thumbnail">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-image"></i>
                                    <b>Add Advert Banner</b>
                                </label>
                                <input type="file" class="form-control"
                                       @change="newAdvertBanner">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-navicon"></i>
                                    Organization Name
                                </label>
                                <input type="text" v-model="advert.name" class="form-control"
                                       placeholder="Enter organization name">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-contao"></i>
                                    Description
                                </label>
                                <textarea cols="10" rows="5" v-model="advert.description" style="resize: none"
                                          class="form-control" placeholder="Describe the advert briefly"></textarea>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-link"></i>
                                    Organisation Link
                                </label>
                                <input type="text" v-model="advert.link" class="form-control"
                                       placeholder="Enter URL of organization website">
                            </div>

                            <hr>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Update Advert</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    export default {
        data(){
            return{
               allAdvert:[],
               advert:{
                   id:'',
                   name:'',
                   banner:'',
                   description:'',
                   link:'',
               },
               pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
               },
               search:'',
               length:10,
               showImage:[],
               progress:false,
               holdme:0,
            }
        },

        methods:{

            getAllAdvert(){
                axios.get('/admin/get/all_advert')
                    .then((res) => {
                        this.allAdvert = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Advert Failed", "warning");
                });
            },

            newAdvertBanner(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.advert.banner = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            addAdvert(){
                this.clearForm();
                $('#addAdvert').modal('show');
            },

            closeModal(){
                $('#addAdvert').modal('hide');
            },

            viewModal(){
                $('#editAdvert').modal('show');
            },

            viewAdvert(advert){
                this.advert.id = advert.id;
                this.advert.name = advert.title;
                this.advert.description = advert.description;
                this.advert.banner = advert.banner;
                this.advert.link = advert.link;

                this.viewModal();
            },

            clearForm(){
                this.advert.id = '';
                this.advert.name = '';
                this.advert.description = '';
                this.advert.link = '';
                $('#banner_exe').val('');
            },

            submitForm(){
                this.progress = true;
                let formdata = new FormData();

                formdata.append('title', this.advert.name);
                formdata.append('description', this.advert.description);
                formdata.append('link', this.advert.link);
                formdata.append('banner', this.advert.banner)

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/save/advert', formdata, config)
                .then(() => {
                    this.closeModal();
                    Fire.$emit('refresh');
                    Toast.fire("Success :","Advert saved successfully","success");
                    this.progress = false;
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            editForm(){
                this.progress = true;

                let formdata = new FormData();
                formdata.append('id', this.advert.id);
                formdata.append('title', this.advert.name);
                formdata.append('description', this.advert.description);
                formdata.append('link', this.advert.link);
                formdata.append('banner', this.advert.banner)

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/update/advert', formdata, config)
                .then(() => {
                    $('#editAdvert').modal('hide');
                    Fire.$emit('refresh');
                    Toast.fire("Success :","Advert updated successfully","success");
                    this.progress = false;
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            deleteAdvert(id){
            Swal.fire({
                    title: 'Are you sure?',
                    text: "Advert will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/advert/' + id)
                            .then(() => {
                                Toast.fire('Deleting !','Advert has been deleted','success');
                                Fire.$emit('refresh');
                            }).catch(() => {
                            Swal.fire("Failed","Could not delete advert","warning");
                        });
                    }
                });
            },

            publishAdvert(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Advert will be published",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Publish Advert!'
                }).then((result) => {
                    if (result.value) {
                        axios.get('/admin/publish/advert/' + id)
                            .then(() => {
                                Toast.fire('Publishing !','Advert has been published','success');
                                Fire.$emit('refresh');
                            }).catch(() => {
                            Swal.fire("Failed","Could not publish advert","warning");
                        });
                    }
                });
            },

            declineAdvert(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Advert will be declined",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Decline Advert!'
                }).then((result) => {
                    if (result.value) {
                        axios.get('/admin/decline/advert/' + id)
                            .then(() => {
                                Toast.fire('Publishing !','Advert has been declined','success');
                                Fire.$emit('refresh');
                            }).catch(() => {
                            Swal.fire("Failed","Could not decline advert","warning");
                        });
                    }
                });
            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllAdvert();
            Fire.$on('refresh',() => {
                this.getAllAdvert();
            });
        },

        computed:{

            filteredAdvert(){
                let advert = this.allAdvert;
                if(this.search){
                    advert = advert.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return advert;
            },

            paginated(){
                return this.paginate(this.filteredAdvert, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style scoped>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }

</style>