<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">
                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                            <h2 style="color: white">SCHOOLS TABLE</h2>
                            <p class="pull-right">
                                <a href="" class="btn btn-primary" @click.prevent="addSchool()" style="color: white">
                                    <i class="fa fa-registered"></i>
                                    <b>Register New School</b>
                                </a>
                            </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                  <tr>
                                    <th width="30px">#</th>
                                    <th>School Name </th>
                                    <th>Proprietor </th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>District</th>
                                    <th>Town</th>
                                    <th>Suburb</th>
                                    <th class="text-center">Status</th>
                                    <!--<th>Created</th>-->
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(school, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>{{ school.school_name}}</td>
                                    <td>{{ school.other_name | upperCase }} {{ school.first_name | upperCase }}</td>
                                    <td>{{ school.email }}</td>
                                    <td>{{ school.contact }}</td>
                                    <td>{{ school.district }}</td>
                                    <td>{{ school.town }}</td>
                                    <td>{{ school.suburb }}</td>

                                    <td v-if="school.status == 0" class="text-center">
                                        <a class="btn btn-danger btn-sm" @click.prevent="updateMemberSchool(school.id)" href="#">
                                            <b>new</b>
                                        </a>
                                    </td>

                                    <td v-else class="text-center">
                                        <a class="btn btn-success btn-sm" @click.prevent="alreadyMember(school.id)" href="#">
                                            <b>gnaps</b>
                                        </a>
                                    </td>

                                    <!--<td>{{ school.created_at | dateOnly }}</td>-->
                                    <td class="text-center">
                                        <a class="btn btn-warning btn-sm" href="#"
                                           @click.prevent="viewSchoolDetails(school.id)"
                                           title="Click to view school details information">
                                            <i class="fa fa-eye"></i>
                                        </a> |
                                        <a class="btn btn-primary btn-sm" href="#"
                                           @click.prevent="viewSchool(school)" title="Click to edit school information">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="editSchool" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <form @submit.prevent="submitSchoolForm()" class="form">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit School Information</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-graduation-cap"></i>
                                    School Name
                                </label>
                                <input type="text" v-model="school.school_name" class="form-control"
                                       placeholder="Enter School Name" required/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-envelope"></i>
                                    School Email
                                </label>
                                <input type="email" v-model="school.school_email" class="form-control"
                                       placeholder="Enter School Email" required/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-phone-square"></i>
                                    Enter School Contact
                                </label>
                                <vue-tel-input :maxLen="15" v-model="school.school_contact" required>
                                </vue-tel-input>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-address-book"></i> School Address
                                </label>
                                <input type="text" v-model="school.school_address" class="form-control"
                                       placeholder="Enter School Address"/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-building"></i> Select Facilities
                                </label> <br>
                                <label class="radio-inline">
                                    <input type="radio" required v-model="school.school_facilities"
                                           name="optradio" value="Day">
                                    Day
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="school.school_facilities"
                                           value="Boarding" name="optradio">
                                    Boarding
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="school.school_facilities"
                                           value="Day & Boarding" name="optradio">
                                    Day and Boarding
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-link"></i>
                                    School Website Link
                                </label>
                                <input type="text" v-model="school.school_website" class="form-control"
                                       placeholder="Enter School Website Link"/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-calendar"></i>
                                    School Established Date
                                </label>
                                <input type="date" required v-model="school.established_date"
                                       class="form-control" placeholder="Enter School Established date"/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-renren"></i>
                                    Select Region
                                </label>
                                <v-select :options="allRegion"
                                          label="name"
                                          v-model="school.region"
                                          :reduce="allRegion => allRegion.id" required
                                          placeholder="Select Region"
                                          style="background-color: white">
                                </v-select>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-cc-discover"></i>
                                    Select District
                                </label>
                                <v-select :options="allDistrict"
                                          v-model="school.district"
                                          label="name"
                                          :reduce="allDistrict => allDistrict.id" required
                                          placeholder="Select District"
                                          style="background-color: white">
                                </v-select>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-file-zip-o"></i>
                                    Select Zone
                                </label>
                                <v-select :options="allZone"
                                          v-model="school.zone"
                                          label="name"
                                          :reduce="allZone => allZone.id" required
                                          placeholder="Select Zone"
                                          style="background-color: white">
                                </v-select>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-home"></i>
                                    Town / City
                                </label>
                                <input type="text" v-model="school.town" class="form-control"
                                       placeholder="Enter Town/City School is Located" required/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-lemon-o"></i>
                                    Suburb
                                </label>
                                <input type="text" v-model="school.suburb" class="form-control"
                                       placeholder="Enter Suburb School is Located" required/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-picture-o"></i>
                                    Select School Logo
                                </label>
                                <input type="file" @change="schoolLogo" class="form-control">
                            </div>

                            <div class="form-group flex-fill" v-show="showImage.length > 0">
                                <img v-for="show in showImage" :src="show" alt="Image"
                                     class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="progress" v-show="progress">
                                    <div class="progress-bar" :style="{width : holdme }"></div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">
                                    <i class="fa fa-edit"></i>
                                    <b>Update School Info</b>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </section>

</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        components:{
            vSelect,
        },
        data(){
            return{
                maintenance: [
                    ["bold", "italic", "underline"],
                    [{ list: "ordered" }, { list: "bullet" }],
                    ["image", "code-block"],
                ],
               allSchools:[],
               allRegion:[],
               allDistrict:[],
               allZone:[],
               school:{
                    id:'',
                    school_name:'',
                    school_email:'',
                    school_contact:'',
                    school_address:'',
                    school_facilities:'',
                    school_website:'',
                    established_date:'',
                    region:'',
                    district:'',
                    zone:'',
                    town:'',
                    suburb:'',
                    logo:'',
                },
               pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
               },
               search:'',
               length:10,
               showImage:[],
               progress:false,
               holdme:0,
            }
        },

        methods:{

            viewSchoolDetails(id){
               setTimeout(() => {
                   window.location.href = '/admin/sch/schools/view/' + id;
               });
            },

            getAllSchools(){
                axios.get('/admin/get/all_schools')
                    .then((res) => {
                        this.allSchools = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Schools Failed", "warning");
                });
            },

            getAllRegion(){
                axios.get('/admin/get/regions')
                    .then((res) => {
                        this.allRegion = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Regions Failed", "warning");
                });
            },

            getAllDistrict(){
                axios.get('/admin/get/districts')
                    .then((res) => {
                        this.allDistrict = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Districts Failed", "warning");
                });
            },

            getAllZone(){
                axios.get('/admin/get/zonals')
                    .then((res) => {
                        this.allZone = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Zones Failed", "warning");
                });
            },

            schoolLogo(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.school.logo = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            addSchool(){
                setTimeout(() => {
                    window.location.href = '/admin/sch/add';
                }, 500);
            },

            viewModal(){
                $('#editSchool').modal('show');
            },

            viewSchool(school){
                this.school.id = school.id;
                this.school.school_name = school.school_name;
                this.school.school_email = school.email;
                this.school.school_contact = school.contact;
                this.school.school_address = school.address;
                this.school.town = school.town;
                this.school.suburb = school.suburb;
                this.school.school_facilities = school.facilities;
                this.school.school_website = school.website_url;
                this.school.established_date = school.date_established;
                this.school.logo = school.logo;
                this.school.region = school.region_id;
                this.school.district = school.district_id;
                this.school.zone = school.zone_id;
                this.viewModal();
            },

            submitSchoolForm(){
                this.progress = true;
                let formdata = new FormData();

                formdata.append('id', this.school.id);
                formdata.append('school_name', this.school.school_name);
                formdata.append('school_email', this.school.school_email);
                formdata.append('school_contact', this.school.school_contact);
                formdata.append('school_address', this.school.school_address);
                formdata.append('school_facility', this.school.school_facilities);
                formdata.append('school_website', this.school.school_website);
                formdata.append('established_date', this.school.established_date);
                formdata.append('region', this.school.region);
                formdata.append('district', this.school.district);
                formdata.append('zone', this.school.zone);
                formdata.append('town', this.school.town);
                formdata.append('suburb', this.school.suburb);
                formdata.append('logo', this.school.logo);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/update/school', formdata, config)
                .then((res) => {
                    Swal.fire("Success :","School info updated successfully","success");
                    this.progress = false;
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            updateMemberSchool(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "School will be added to GNAPS",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Add as Member!'
                }).then((result) => {
                    if (result.value) {
                        axios.get('/admin/update/school/' + id)
                            .then(() => {
                                Toast.fire('School Will be a member of GNAPS!','School has been added to GNAPS','success');
                                Fire.$emit('refresh');
                            }).catch(() => {
                            Swal.fire("Failed","Could not add school to gnaps","warning");
                        });
                    }
                });
            },

            alreadyMember(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "School will be remove from gnaps",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Remove!'
                }).then((result) => {
                    if (result.value) {
                        axios.get('/admin/update/member/' + id)
                            .then(() => {
                                Toast.fire('School will not be a member of GNAPS!','School has been declined','success');
                                Fire.$emit('refresh');
                            }).catch(() => {
                            Swal.fire("Failed","Could not declined school","warning");
                        });
                    }
                });
            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllSchools();
            this.getAllRegion();
            this.getAllDistrict();
            this.getAllZone();
            Fire.$on('refresh',() => {
                this.getAllSchools();
            });
        },

        computed:{

            filteredSchools(){
                let schools = this.allSchools;
                if(this.search){
                    schools = schools.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return schools;
            },

            paginated(){
                return this.paginate(this.filteredSchools, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }

    .content {
        background-color: white;
        height: 350px;
    }
</style>