<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                            <h2 style="color: white">
                                CAROUSEL TABLE
                                <b style="color: #6fff12"> : Make sure six carousels are always active</b>
                            </h2>
                            <p class="pull-right">
                                <a href="" class="btn btn-primary" @click.prevent="addCarousel()" style="color: white">
                                    <i class="fa fa-plus"></i>
                                    <b>Add Carousel</b>
                                </a>
                            </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th width="30px">#</th>
                                        <th><i class="icon_image"></i> Image </th>
                                        <th><i class="icon_cog"></i> Title</th>
                                        <th><i class="icon_genius"></i> Status</th>
                                        <th><i class="icon_calendar"></i> Created</th>
                                        <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(caro, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>
                                        <img :src="caro.picture" class="img img-thumbnail"
                                             alt="Image" width="50px" height="50px">
                                    </td>
                                    <td>{{ caro.title }}</td>

                                    <td v-if="caro.status === '1'" title="Click to set to inactive">
                                        <a href="" class="btn btn-success" @click.prevent="hideCarousel(caro.id)">
                                            <i class="fa fa-eye"></i> Active
                                        </a>
                                    </td>

                                    <td v-else title="Click to set to active">
                                        <a href="" class="btn btn-danger" @click.prevent="showCarousel(caro.id)">
                                            <i class="fa fa-eye-slash"></i> Hide
                                        </a>
                                    </td>

                                    <td class="text-center">{{ caro.created_at | dateOnly }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="#" @click.prevent="viewCarousel(caro)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="addCarousel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="submitForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Add New Carousel</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="new_exe">
                                    <i class="fa fa-image"></i>
                                    <b>Select Picture</b>
                                </label>
                                <input type="file" class="form-control" id="new_exe"
                                       @change="singleFile">
                            </div>

                            <div class="form-group">
                                <label><i class="fa fa-server"></i>
                                    Enter Title
                                </label>
                                <input type="text" v-model="carousel.title" class="form-control"
                                       placeholder="Enter Title to describe image">

                            </div>
                            <hr>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Save Carousel</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editCarousel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit Carousel</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <img :src="carousel.picture" alt="image" height="120" width="120"><br>
                                <label>
                                    <i class="fa fa-image"></i>
                                    <b>Select Picture</b>
                                </label>
                                <input type="file" class="form-control"
                                       @change="singleFile">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-server"></i> Enter Title
                                </label>
                                <input type="text" v-model="carousel.title" class="form-control"
                                       placeholder="Enter Title to describe image">
                            </div>
                            <hr>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Update Carousel</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    export default {
        data(){
            return{
               allCarousel:[],
               carousel:{
                   id:'',
                   picture:'',
                   title:'',
               },
               pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
               },
               search:'',
               length:10,
               showImage:[],
               progress:false,
               holdme:0,
            }
        },

        methods:{

            getAllCarousel(){
                axios.get('/admin/get/carousel')
                    .then((res) => {
                        this.allCarousel = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Carousel Failed", "warning");
                });
            },

            showCarousel(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Carousel will be published",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Publish Carousel!'
                }).then((result) => {
                    if (result.value) {
                        axios.get('/admin/carousel/active/' + id)
                            .then(() => {
                                Toast.fire('Publishing !','Carousel has been published','success');
                                Fire.$emit('refresh');
                            }).catch(() => {
                            Swal.fire("Failed","Could not publish carousel","warning");
                        });
                    }
                });
            },

            hideCarousel(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Carousel will be hidden from view",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Hide Carousel!'
                }).then((result) => {
                    if (result.value) {
                        axios.get('/admin/carousel/hide/' + id)
                            .then(() => {
                                Toast.fire('Hiding !','Carousel has been hidden','success');
                                Fire.$emit('refresh');
                            }).catch(() => {
                            Swal.fire("Failed","Could not publish carousel","warning");
                        });
                    }
                });
            },

            singleFile(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.carousel.picture = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            addCarousel(){
                this.clearForm();
                $('#addCarousel').modal('show');
            },

            closeModal(){
                $('#addCarousel').modal('hide');
            },

            viewModal(){
                $('#editCarousel').modal('show');
            },

            viewCarousel(carousel){
                this.showImage = [];
                this.carousel.id = carousel.id;
                this.carousel.picture = carousel.picture;
                this.carousel.title = carousel.title;

                this.viewModal();
            },

            clearForm(){
               this.showImage = '';
               this.carousel.title = '';
               $('#new_exe').val('');
            },

            submitForm(){
                this.progress = true;
                let formdata = new FormData();

                formdata.append('picture', this.carousel.picture);
                formdata.append('title', this.carousel.title);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/save/carousel', formdata, config)
                .then(() => {
                    this.closeModal();
                    Fire.$emit('refresh');
                    Toast.fire("Success :","Carousel saved successfully","success");
                    this.progress = false;
                    this.showImage = [];
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            editForm(){
                this.progress = true;

                let formdata = new FormData();
                formdata.append('id', this.carousel.id);
                formdata.append('picture', this.carousel.picture);
                formdata.append('title', this.carousel.title);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/update/carousel', formdata, config)
                    .then(() => {
                        $('#editCarousel').modal('hide');
                        Fire.$emit('refresh');
                        Toast.fire("Success :","Carousel updated successfully","success");
                        this.progress = false;
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllCarousel();
            Fire.$on('refresh',() => {
                this.getAllCarousel();
            });
        },

        computed:{

            filteredCarousel(){
                let carousel = this.allCarousel;
                if(this.search){
                    carousel = carousel.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return carousel;
            },

            paginated(){
                return this.paginate(this.filteredCarousel, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }

</style>