<template>

    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading tab-bg-info">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#step_one">
                                    <i class="fa fa-graduation-cap"></i>
                                    All Registered Schools
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#step_two">
                                    <i class="fa fa-file"></i>
                                    All School Statistics Report
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#step_three">
                                    <i class="fa fa-archive"></i>
                                    Generate Specific School Report
                                </a>
                            </li>
                            <!--<li>-->
                                <!--<a data-toggle="tab" href="#step_four">-->
                                    <!--<i class="fa fa-arrow-circle-right"></i>-->
                                    <!--Step 4-->
                                <!--</a>-->
                            <!--</li>-->

                        </ul>
                    </header>

                    <div class="panel-body">
                        <div class="tab-content">

                            <div id="step_one" class="tab-pane active">
                                <div class="profile-activity">

                                    <div class="row" style="margin-top: 20px; text-align:center; font-size:18px">
                                        <div class="form-group form-inline">
                                            <label class="radio-inline">
                                                <input type="radio" v-model="school.is_member"
                                                       value="2" @click="getAllSchool()">
                                                Show All Registered Schools
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" v-model="school.is_member"
                                                       value="0" @click="getAllSchoolGroupZero()">
                                                Show All Non Members of GNAPS Ashanti Region
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" required v-model="school.is_member"
                                                       value="1" @click="getAllSchoolGroupOne()">
                                                Show All Members of GNAPS Ashanti Region
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 20px">

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-renren"></i>
                                                    <b>Group By Region</b>
                                                </label>
                                                <v-select :options="allRegion"
                                                          label="name"
                                                          v-model="school.region"
                                                          :reduce="allRegion => allRegion.id" required
                                                          placeholder="Select Region"
                                                          @input="getAllDistrict()">
                                                </v-select>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-group" v-show="allDistrict.length > 0">
                                                <label>
                                                    <i class="fa fa-cc-discover"></i>
                                                    <b> Group By District</b>
                                                </label>
                                                <v-select :options="allDistrict"
                                                          v-model="school.district"
                                                          label="name"
                                                          :reduce="allDistrict => allDistrict.id" required
                                                          placeholder="Select District"
                                                          @input="getAllZonal()">
                                                </v-select>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-group" v-show="allZone.length > 0">
                                                <label>
                                                    <i class="fa fa-file-zip-o"></i>
                                                    <b>Group By Zone</b>
                                                </label>
                                                <v-select :options="allZone"
                                                          v-model="school.zone"
                                                          label="name"
                                                          :reduce="allZone => allZone.id" required
                                                          placeholder="Select Zone"
                                                          @input="getAllSchoolGroupByZone()">
                                                </v-select>
                                            </div>
                                        </div>

                                    </div>

                                    <div>

                                        <div class="form-group pull-left">
                                            <label><b>Select :</b>
                                            <select class="my-control" v-model="length" @change="resetPagination()">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="500">500</option>
                                                <option value="1000">1000</option>
                                            </select>
                                            </label>
                                        </div>

                                        <div class="form-group pull-right">
                                            <label><b>Search :</b></label>
                                            <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                                   placeholder="Enter to search">
                                        </div>

                                    </div>

                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="printPage">
                                           <div style="text-align:center;margin-top:20px;margin-bottom:10px" v-show="showMe">
                                               <h1><b>ALL REGISTERED SCHOOLS</b></h1>
                                               <h3 v-show="school.region">
                                                   <b>IN</b>
                                                   <b v-show="school.zone"> ZONE {{ ZoneName }} UNDER </b>
                                                   <b v-show="school.district"> {{ DistrictName }} OF </b>
                                                   <b v-show="school.region"> {{ RegionName }}</b>
                                               </h3>
                                           </div>
                                           <div class="table-responsive ">
                                               <table class="table table-bordered">
                                                   <thead>
                                                   <tr>
                                                       <th>ID</th>
                                                       <th>School Name</th>
                                                       <th>Email</th>
                                                       <th>Contact</th>
                                                       <th>Address</th>
                                                       <th>Town</th>
                                                       <th>Suburb</th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   <tr v-for="(school,index) in paginated" :key="index">
                                                       <td>{{ index += 1}}</td>
                                                       <td>{{ school.school_name }}</td>
                                                       <td>{{ school.email }}</td>
                                                       <td>{{ school.contact }}</td>
                                                       <td>{{ school.address }}</td>
                                                       <td>{{ school.town }}</td>
                                                       <td>{{ school.suburb }}</td>
                                                   </tr>
                                                   </tbody>
                                               </table>
                                           </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <nav aria-label="Page navigation" class="pull-right">
                                            <ul class="pagination">
                                                <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                                                    <a href="#" class="page-link" @click.prevent="substraction()">
                                                        <b>Previous</b>
                                                    </a>
                                                </li>

                                                <li class="page-item disabled">
                                                    <a class="page-link " href="#" style="color: black">
                                                        Page
                                                        <b>{{ pagination.currentPage }}</b>
                                                        of
                                                        <b>{{ pagination.page }}</b>
                                                    </a>
                                                </li>

                                                <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                                                    <a href="#" class="page-link" @click.prevent="addition()">
                                                        <b>Next</b>
                                                    </a>
                                                </li>

                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" style="color: black"> From
                                                        <b>{{ pagination.from}}</b> to
                                                        <b>{{ pagination.to}}</b> out of
                                                        <b>{{ pagination.total }}</b>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <a href="" @click.prevent="printAllSchool()"
                                               class="btn btn-block btn-lg" style="font-size: 16px;background-color:#394A59">
                                                <b style="color: white">
                                                    <i class="fa fa-print"></i>
                                                    Print All Schools Information
                                                </b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="step_two" class="tab-pane">
                                <div class="profile-activity">
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="printSchoolStatistic">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <caption style="caption-side:top;text-align:center" v-show="stat">
                                                        <h1>
                                                            <b>DETAILED STATISTICS ON REGISTERED SCHOOLS</b>
                                                        </h1>
                                                    </caption>
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>School Name</th>
                                                        <th>Town</th>
                                                        <th>Suburb</th>
                                                        <th class="text-center">Boys</th>
                                                        <th class="text-center">Girls</th>
                                                        <th class="text-center">TS</th>
                                                        <th class="text-center">TM</th>
                                                        <th class="text-center">UTM</th>
                                                        <th class="text-center">TMT</th>
                                                        <th class="text-center">TF</th>
                                                        <th class="text-center">UTF</th>
                                                        <th class="text-center">TFT</th>
                                                        <th class="text-center">TTS</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr v-for="(stat,index) in allSchoolStatistic" :key="index">
                                                        <td>{{ index += 1}}</td>
                                                        <td>{{ stat.school_name }}</td>
                                                        <td>{{ stat.town }}</td>
                                                        <td>{{ stat.suburb }}</td>
                                                        <td class="text-center">{{ stat.total_boys }}</td>
                                                        <td class="text-center">{{ stat.total_girls }}</td>
                                                        <th class="text-center">
                                                            {{ JSON.parse(stat.total_boys) + JSON.parse(stat.total_girls) }}
                                                        </th>
                                                        <td class="text-center">{{ stat.total_m_trained }}</td>
                                                        <td class="text-center">{{ stat.total_m_untrained }}</td>
                                                        <th class="text-center">
                                                            {{ JSON.parse(stat.total_m_trained) + JSON.parse(stat.total_m_untrained ) }}
                                                        </th>
                                                        <td class="text-center">{{ stat.total_f_trained }}</td>
                                                        <td class="text-center">{{ stat.total_f_untrained }}</td>
                                                        <th class="text-center">
                                                            {{ JSON.parse(stat.total_f_trained) + JSON.parse(stat.total_f_untrained ) }}
                                                        </th>
                                                        <th class="text-center">
                                                            {{ JSON.parse(stat.total_m_trained) + JSON.parse(stat.total_m_untrained) +
                                                            JSON.parse(stat.total_f_trained) + JSON.parse(stat.total_f_untrained) }}
                                                        </th>
                                                       </tr>
                                                    </tbody>
                                                </table>

                                                <table border="1" cellpadding="5" align="right">
                                                    <thead>
                                                       <tr>
                                                           <th>Keys</th>
                                                           <th>Meaning</th>
                                                       </tr>
                                                    </thead>
                                                    <tbody>
                                                       <tr>
                                                           <td>TS</td>
                                                           <td>Total Students (Boys and Girls)</td>
                                                       </tr>
                                                       <tr>
                                                           <td>TM</td>
                                                           <td>Trained Male Teachers</td>
                                                       </tr>
                                                       <tr>
                                                           <td>UTM</td>
                                                           <td>Untrained Male Teachers</td>
                                                       </tr>
                                                       <tr>
                                                           <td>TMT</td>
                                                           <td>Total Male Teachers</td>
                                                       </tr>
                                                       <tr>
                                                           <td>TF</td>
                                                           <td>Trained Female Teachers</td>
                                                       </tr>
                                                       <tr>
                                                           <td>TFT</td>
                                                           <td>Total Female Teachers</td>
                                                       </tr>
                                                       <tr>
                                                           <td>UTF</td>
                                                           <td>Untrained Female Teachers</td>
                                                       </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <a href="" @click.prevent="printSchoolStatistic()"
                                       class="btn btn-block btn-lg" style="font-size: 16px;background-color:#394A59">
                                        <b style="color: white">
                                            <i class="fa fa-print"></i>
                                            Print School Statistic
                                        </b>
                                    </a>
                                </div>

                            </div>

                            <div id="step_three" class="tab-pane">
                                <div class="profile-activity">
                                    <div style="margin-top: 20px">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-graduation-cap"></i>
                                                        <b>Select School to View Report</b>
                                                    </label>
                                                    <v-select :options="allSchools"
                                                              label="school_name"
                                                              v-model="school.id"
                                                              :reduce="allSchools => allSchools.id"
                                                              placeholder="Select School Name"
                                                              @input="viewSchoolReport()">
                                                    </v-select>
                                                </div>
                                            </div>
                                            <div class="card-body" id="schoolInfo" style="height:500px;overflow:auto"
                                                 v-show="schoolDetail">

                                                <div class="table-responsive" v-show="schoolDetail">
                                                    <table class="table table-bordered">
                                                        <caption style="caption-side:top;text-align:center">
                                                            <h2>DETAILED INFORMATION ON SELECTED SCHOOL</h2>
                                                        </caption>
                                                        <tbody>
                                                        <tr>
                                                            <th>Registered ID</th>
                                                            <td>{{ schoolDetail.schoolID }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>School Name</th>
                                                            <td>{{ schoolDetail.school_name | upperCase}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email</th>
                                                            <td>{{ schoolDetail.email }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Contact</th>
                                                            <td>{{ schoolDetail.contact }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Address</th>
                                                            <td>{{ schoolDetail.address }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Town</th>
                                                            <td>{{ schoolDetail.town }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Suburb</th>
                                                            <td>{{ schoolDetail.suburb }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Facilities</th>
                                                            <td>{{ schoolDetail.facilities }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>School Website Link</th>
                                                            <td>{{ schoolDetail.website_url }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Established Date</th>
                                                            <td>{{ schoolDetail.date_established | dateOnly }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Region</th>
                                                            <td>{{ schoolDetail.regionName }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>District</th>
                                                            <td>{{ schoolDetail.districtName }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Zone</th>
                                                            <td>{{ schoolDetail.zoneName }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Levels</th>
                                                            <td>
                                                                <b v-for="level in allSchoolClass" style="margin-right:10px">
                                                                    {{ level.name }}
                                                                </b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Membership ID</th>
                                                            <td>{{ schoolDetail.userID }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Proprietor's Name</th>
                                                            <td>
                                                                {{ schoolDetail.other_name | upperCase }} {{ schoolDetail.first_name | upperCase}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email</th>
                                                            <td>{{ schoolDetail.userEmail }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Contact</th>
                                                            <td>{{ schoolDetail.userContact }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive" v-show="allStudents.length > 0">
                                                    <table class="table table-bordered">
                                                        <caption style="caption-side:top;text-align:center">
                                                            <h3>SCHOOL STATISTICS</h3>
                                                        </caption>
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Class</th>
                                                            <th class="text-center">Rooms</th>
                                                            <th class="text-center">Boys</th>
                                                            <th class="text-center">Girls</th>
                                                            <th class="text-center">Trained (M)</th>
                                                            <th class="text-center">Untrained (M)</th>
                                                            <th class="text-center">Trained (F)</th>
                                                            <th class="text-center">Untrained (F)</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(student, index) in allStudents" :key="index">
                                                            <td>{{ index += 1}}</td>
                                                            <td>{{ student.clasName }}</td>
                                                            <td class="text-center">{{ student.classrooms }}</td>
                                                            <td class="text-center">{{ student.enroll_boys }}</td>
                                                            <td class="text-center">{{ student.enroll_girls }}</td>
                                                            <td class="text-center">{{ student.male_trained }}</td>
                                                            <td class="text-center">{{ student.male_untrained }}</td>
                                                            <td class="text-center">{{ student.female_trained }}</td>
                                                            <td class="text-center">{{ student.female_untrained }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2">Total</th>
                                                            <th class="text-center">{{ totalClassRoom }}</th>
                                                            <th class="text-center">{{ totalClassBoys }}</th>
                                                            <th class="text-center">{{ totalClassGirls }}</th>
                                                            <th class="text-center">{{ trainedMales }}</th>
                                                            <th class="text-center">{{ untrainedMales }}</th>
                                                            <th class="text-center">{{ trainedFemales }}</th>
                                                            <th class="text-center">{{ untrainedFemales }}</th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive" v-show="allSchoolHeads.length > 0">
                                                    <table class="table table-bordered">
                                                        <caption style="caption-side:top;text-align:center">
                                                            <h3>SCHOOL HEADMASTER'S INFORMATION</h3>
                                                        </caption>
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Full Name</th>
                                                                <th>Contact</th>
                                                                <th>Classes / Forms</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(master, index) in allSchoolHeads" :key="index">
                                                                <td>{{ index += 1 }}</td>
                                                                <td>{{ master.head_name }}</td>
                                                                <td>{{ master.contact }}</td>
                                                                <td>{{ master.class_form }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive" v-show="allSchoolRegister">
                                                    <table class="table table-bordered">
                                                        <caption style="caption-side:top;text-align:center">
                                                            <h3>SCHOOL REGISTRATION DETAILS</h3>
                                                        </caption>
                                                        <thead>
                                                            <tr>
                                                                <th>Activity</th>
                                                                <th>Response</th>
                                                                <th>Registered ID</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Registered with Ministry of Education</td>
                                                                <td>{{ allSchoolRegister.reg_with_min_eduction }}</td>
                                                                <td>{{ allSchoolRegister.reg_min_number }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Registered with Registrar General</td>
                                                                <td>{{ allSchoolRegister.registerar_general }}</td>
                                                                <td>{{ allSchoolRegister.reg_gen_number }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Registered with GNAPS</td>
                                                                <td>{{ allSchoolRegister.reg_with_gnaps }}</td>
                                                                <td>{{ allSchoolRegister.gnaps_number }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive" v-show="allSchoolBook.length > 0">
                                                    <table class="table table-bordered">
                                                        <caption style="caption-side:top;text-align:center">
                                                            <h3>SCHOOL BOOKS PER SUBJECT STATISTICS</h3>
                                                        </caption>
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Class Name</th>
                                                            <th>Subject</th>
                                                            <th>Qty</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(book, index) in allSchoolBook" :key="index">
                                                            <td>{{ index += 1 }}</td>
                                                            <td>{{ book.name }}</td>
                                                            <td>{{ book.subject }}</td>
                                                            <td>{{ book.number }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="card-footer" v-show="schoolDetail">
                                                <a href="" @click.prevent="printSchoolInfo()"
                                                   class="btn btn-block btn-lg" style="font-size: 16px;background-color:#394A59">
                                                    <b style="color: white">
                                                        <i class="fa fa-print"></i>
                                                        Print Selected School Information
                                                    </b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div id="step_four" class="tab-pane">-->

                            <!--</div>-->

                        </div>
                    </div>

                    <div class="panel-footer">

                    </div>

                </section>
            </div>

        </div>

    </section>

</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        components:{
            vSelect,
        },
        data() {
            return {
                allSchools:[],
                allRegion:[],
                allDistrict:[],
                allZone:[],
                school:{
                    id:'',
                    region:'',
                    district:'',
                    is_member:2,
                },
                getRegionName:'',
                getDistrictName:'',
                getZoneName:'',
                showMe:false,
                stat:false,
                pagination:{
                    currentPage:1,
                    nextPage:'',
                    prevPage:'',
                    total:'',
                    from:'',
                    to:'',
                    page:'',
                },
                search:'',
                length:10,
                classrooms:0,
                totalBoys:0,
                totalGirls:0,
                totalMaleTrained:0,
                totalMaleUntrained:0,
                totalFemaleTrained:0,
                totalFemaleUntrained:0,
                schoolDetail:'',
                allStudents:[],
                allSchoolHeads:[],
                allSchoolRegister:'',
                allSchoolClass:[],
                allClass:[],
                allSchoolBook:[],
                allSubject:[],
                allSchoolStatistic:[],
            }
        },

        methods: {

            printAllSchool() {
                this.showMe = true;
                setTimeout(() => {
                    this.$htmlToPaper('printPage');
                }, 500);
            },

            printSchoolInfo() {
                setTimeout(() => {
                    this.$htmlToPaper('schoolInfo');
                }, 500);
            },


            printSchoolStatistic() {
                this.stat = true;
                setTimeout(() => {
                    this.$htmlToPaper('printSchoolStatistic');
                }, 500);
            },

            getAllRegion() {
                axios.get('/all/region')
                    .then((res) => {
                        this.allRegion = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Region Failed", "warning");
                });
            },

            getAllDistrict() {
                this.school.district = '';
                this.school.zone = '';
                axios.get('/all/district/' + this.school.region)
                    .then((res) => {
                        this.allDistrict = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all District Failed", "warning");
                });
                this.getAllSchoolGroupByRegion();
            },

            getAllZonal() {
                axios.get('/all/zonal/' + this.school.district)
                    .then((res) => {
                        this.allZone = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Zonal Failed", "warning");
                });
                this.getAllSchoolGroupByDistrict();
            },

            getAllSchool(){
                this.allSchools = [];
                axios.get('/admin/view/all_schools')
                    .then((res) => {
                        this.allSchools = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Schools Failed", "warning");
                });
            },

            getAllSchoolGroupByRegion(){
                this.allSchools = [];
                axios.get('/admin/view/all_school_group_region/' + this.school.region)
                    .then((res) => {
                        this.allSchools = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Schools Failed", "warning");
                });
            },

            getAllSchoolGroupByDistrict(){
                this.allSchools = [];
                axios.get('/admin/view/all_school_group_district/' + this.school.region + '/' + this.school.district)
                    .then((res) => {
                        this.allSchools = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Schools Failed", "warning");
                });
            },

            getAllSchoolGroupByZone(){
                this.allSchools = [];
                axios.get('/admin/view/all_school_group_zone/' + this.school.region + '/' + this.school.district +
                    '/' + this.school.zone)
                    .then((res) => {
                        this.allSchools = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Schools Failed", "warning");
                });
            },

            getAllSchoolGroupZero(){
                this.school.is_member = 0;
                this.allSchools = [];
                axios.get('/admin/view/all_school_group/' + this.school.is_member)
                    .then((res) => {
                        this.allSchools = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Schools Failed", "warning");
                });
            },

            getAllSchoolGroupOne(){
                this.school.is_member = 1;
                this.allSchools = [];
                axios.get('/admin/view/all_school_group/' + this.school.is_member)
                    .then((res) => {
                        this.allSchools = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Schools Failed", "warning");
                });
            },

            getSchool(id){
                axios.get('/admin/view/school/' + id)
                    .then((res) => {
                        this.schoolDetail = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Detail Failed", "warning");
                });
            },

            getStudents(id){
                axios.get('/admin/view/students/' + id)
                    .then((res) => {
                        this.allStudents = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Students Failed", "warning");
                });
            },

            getSchoolHeads(id){
                axios.get('/admin/view/head/' + id)
                    .then((res) => {
                        this.allSchoolHeads = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Heads Masters Failed", "warning");
                });
            },

            getSchoolRegister(id){
                axios.get('/admin/view/register/' + id)
                    .then((res) => {
                        this.allSchoolRegister = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Register Failed", "warning");
                });
            },

            getSchoolClass(id){
                axios.get('/admin/view/school_class/' + id)
                    .then((res) => {
                        this.allSchoolClass = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Class Failed", "warning");
                });
            },

            getSchoolBook(id){
                axios.get('/admin/view/school_book/' + id)
                    .then((res) => {
                        this.allSchoolBook = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Books Failed", "warning");
                });
            },

            viewSchoolReport(){
                this.getSchool(this.school.id);
                this.getStudents(this.school.id);
                this.getSchoolHeads(this.school.id);
                this.getSchoolRegister(this.school.id);
                this.getSchoolClass(this.school.id);
                this.getSchoolBook(this.school.id);
            },


            getAllSchoolStat() {
                axios.get('/admin/view/all_school_stat')
                    .then((res) => {
                        this.allSchoolStatistic = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all School Statistics Failed", "warning");
                });
            },



            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created() {
           this.getAllSchool();
           this.getAllRegion();
           this.getAllSchoolStat();
        },

        computed: {

            RegionName() {
                this.allRegion.forEach((value) => {
                    if(value.id == this.school.region){
                        this.getRegionName = value.name.toUpperCase();
                    }
                });

                return this.getRegionName;
            },

            DistrictName() {
                this.allDistrict.forEach((value) => {
                    if(value.id == this.school.district){
                        this.getDistrictName = value.name.toUpperCase();
                    }
                });

                return this.getDistrictName;
            },

            ZoneName() {
                this.allZone.forEach((value) => {
                    if(value.id == this.school.zone){
                        this.getZoneName = value.name.toUpperCase();
                    }
                });

                return this.getZoneName;
            },

            filteredSchool(){
                let school = this.allSchools;
                if(this.search){
                    school = school.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return school;
            },

            paginated(){
                return this.paginate(this.filteredSchool, this.length, this.pagination.currentPage);
            },

            totalClassRoom(){
                this.classrooms = 0;
                this.allStudents.forEach((value) => {
                    this.classrooms = this.classrooms + JSON.parse(value.classrooms);
                });
                return this.classrooms;
            },

            totalClassBoys(){
                this.totalBoys = 0;
                this.allStudents.forEach((value) => {
                    this.totalBoys = this.totalBoys + JSON.parse(value.enroll_boys);
                });
                return this.totalBoys;
            },

            totalClassGirls(){
                this.totalGirls = 0;
                this.allStudents.forEach((value) => {
                    this.totalGirls = this.totalGirls + JSON.parse(value.enroll_girls);
                });
                return this.totalGirls;
            },

            trainedMales(){
                this.totalMaleTrained = 0;
                this.allStudents.forEach((value) => {
                    this.totalMaleTrained = this.totalMaleTrained + JSON.parse(value.male_trained);
                });
                return this.totalMaleTrained;
            },

            untrainedMales(){
                this.totalMaleUntrained = 0;
                this.allStudents.forEach((value) => {
                    this.totalMaleUntrained = this.totalMaleUntrained + JSON.parse(value.male_untrained);
                });
                return this.totalMaleUntrained;
            },

            trainedFemales(){
                this.totalFemaleTrained = 0;
                this.allStudents.forEach((value) => {
                    this.totalFemaleTrained = this.totalFemaleTrained + JSON.parse(value.female_trained);
                });
                return this.totalFemaleTrained;
            },

            untrainedFemales(){
                this.totalFemaleUntrained = 0;
                this.allStudents.forEach((value) => {
                    this.totalFemaleUntrained = this.totalFemaleUntrained + JSON.parse(value.female_untrained);
                });
                return this.totalFemaleUntrained;
            },
        },

    }
</script>