<template>
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-graduation-cap"></i>
                    <div class="count">{{ allschool }}</div>
                    <div class="title">All Schools</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-meetup"></i>
                    <div class="count">{{ gnapsmenber }}</div>
                    <div class="title">Members</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-medium"></i>
                    <div class="count">{{ gnapsnonmember }}</div>
                    <div class="title">Non Members</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-users"></i>
                    <div class="count">{{ totalusers }}</div>
                    <div class="title">All Registered Users</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgb(44,69,15)">
                    <i class="fa fa-book"></i>
                    <div class="count">{{ totalstudents }}</div>
                    <div class="title">All Students</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(15,62,98,0.99)">
                    <i class="fa fa-male"></i>
                    <div class="count">{{ totalstudentboys }}</div>
                    <div class="title">All Boys Students</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgb(255,168,6)">
                    <i class="fa fa-female"></i>
                    <div class="count">{{ totalstudentgirl }}</div>
                    <div class="title">All Girls Students</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(5,73,53,0.99)">
                    <i class="fa fa-delicious"></i>
                    <div class="count">{{ totalmaletrained }}</div>
                    <div class="title">Trained Male Teachers</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgb(69,61,42)">
                    <i class="fa fa-backward"></i>
                    <div class="count">{{ totalmaleuntrained }}</div>
                    <div class="title">Untrained Male Teachers</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(69,39,98,0.99)">
                    <i class="fa fa-star"></i>
                    <div class="count">{{ totalfemaletrained }}</div>
                    <div class="title">Trained Female Teachers</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgb(54,2,21)">
                    <i class="fa fa-check-square"></i>
                    <div class="count">{{ totalfemaleuntrained }}</div>
                    <div class="title">Untrained Female Teachers</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(5,25,73,0.99)">
                    <i class="fa fa-diamond"></i>
                    <div class="count">{{ totalteachers }}</div>
                    <div class="title">All Teachers</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(37,41,75,0.56)">
                    <i class="fa fa-user-plus"></i>
                    <div class="count">{{ totalexecutive }}</div>
                    <div class="title">Executives</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(71,12,19,0.56)">
                    <i class="fa fa-mercury"></i>
                    <div class="count">{{ totalmember }}</div>
                    <div class="title">Members</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(31,13,62,0.56)">
                    <i class="fa fa-location-arrow"></i>
                    <div class="count">{{ totalregion }}</div>
                    <div class="title">All Regions</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(25,3,74,0.99)">
                    <i class="fa fa-cc-discover"></i>
                    <div class="count">{{ totaldistrict }}</div>
                    <div class="title">All District</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgb(37,73,7)">
                    <i class="fa fa-podcast"></i>
                    <div class="count">{{ totalpost }}</div>
                    <div class="title">All Posts</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(1,56,81,0.99)">
                    <i class="fa fa-comment"></i>
                    <div class="count">{{ totalcomment }}</div>
                    <div class="title">All Comment</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgb(90,65,45)">
                    <i class="fa fa-envelope"></i>
                    <div class="count">{{ totalmessage }}</div>
                    <div class="title">All Messages</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box" style="background-color: rgba(9,92,67,0.99)">
                    <i class="fa fa-picture-o"></i>
                    <div class="count">{{ totalgallery }}</div>
                    <div class="title">All Post Gallery</div>
                </div>
            </div>
        </div>

    </section>
</template>
<script>
    export default {
        props:['allschool', 'gnapsmenber', 'gnapsnonmember','totalusers','totalexecutive',
            'totalmember','totalregion','totaldistrict','totalzone','totalpost','totalcomment','totalmessage',
        'totalgallery','totalstudentgirl','totalstudentboys','totalstudents','totalmaletrained','totalmaleuntrained',
        'totalfemaletrained','totalfemaleuntrained','totalteachers'],
    }
</script>

