<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                        <h2 style="color: white">MESSAGES TABLE</h2>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><i class="icon_profile"></i> Name</th>
                                        <th><i class="icon_mail"></i> Email</th>
                                        <th><i class="icon_phone"></i> Contact</th>
                                        <th class="text-center">
                                            Status
                                        </th>
                                        <th><i class="icon_calendar"></i> Created</th>
                                        <th class="text-center">
                                            <i class="icon_cogs"></i> Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr v-for="(message, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>{{ message.name | upperCase }}</td>
                                    <td>{{ message.email  }}</td>
                                    <td>{{ message.contact }}</td>

                                    <td v-if="message.status == 1" class="text-center">
                                        <i class="badge badge-primary" style="background-color:#136bff">read</i>
                                    </td>
                                    <td v-else class="text-center">
                                        <i class="badge badge-success" style="background-color:#4CD964">new</i>
                                    </td>

                                    <td>{{ message.created_at | dateOnly }}</td>

                                    <td class="text-center">
                                        <a class="btn btn-success" href="#" @click.prevent="viewMessage(message)">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a class="btn btn-danger" href="#" @click.prevent="deleteMessage(message.id)">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </td>

                                   </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="editMessage" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Message Details</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                           <table class="table table-bordered">
                               <tbody>
                                   <tr>
                                        <th>Name</th>
                                        <td>{{ myMessage.name }}</td>
                                   </tr>
                                   <tr>
                                       <th>Email</th>
                                       <td>{{ myMessage.email }}</td>
                                   </tr>
                                   <tr>
                                       <th>Contact</th>
                                       <td>{{ myMessage.contact }}</td>
                                   </tr>
                                   <tr>
                                       <th>Subject</th>
                                       <td>{{ myMessage.subject }}</td>
                                   </tr>
                                   <tr>
                                       <th>Message</th>
                                       <td>{{ myMessage.message }}</td>
                                   </tr>
                               </tbody>
                           </table>

                        </div>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    export default {
        data(){
            return{
              allMessages:'',
              myMessage:{
                  id:'',
                  name:'',
                  email:'',
                  contact:'',
                  subject:'',
                  message:'',
              },
              pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
              },
              search:'',
              length:10,
            }
        },

        methods:{

            getAllMessage(){
                axios.get('/admin/get/messages')
                    .then((res) => {
                        this.allMessages = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Messages Failed", "warning");
                });
            },

            viewModal(){
                $('#editMessage').modal('show');
            },

            viewMessage(message){
                this.myMessage.id = message.id;
                this.myMessage.name = message.name;
                this.myMessage.email = message.email;
                this.myMessage.contact = message.contact;
                this.myMessage.subject = message.subject;
                this.myMessage.message = message.message;

                this.hasView(message.id);
                this.viewModal();
            },

            hasView(id){
                axios.get('/admin/update/message/' + id)
                .then(() => {
                    this.getAllMessage();
                });
            },


            deleteMessage(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Region will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/message/' + id)
                        .then(() => {
                            Toast.fire('Deleting Message!','Message has been deleted','success');
                            Fire.$emit('refresh');
                        }).catch(() => {
                            Swal.fire("Failed","Could not delete message","warning");
                        });
                    }
                });
            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllMessage();
            Fire.$on('refresh',() => {
                this.getAllMessage();
            });
        },

        computed:{

            filteredMessage(){
                let message = this.allMessages;
                if(this.search){
                    message = message.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return message;
            },

            paginated(){
                return this.paginate(this.filteredMessage, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }
</style>