<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                            <h2 style="color: white">POSTS TABLE</h2>
                            <p class="pull-right">
                                <a href="" class="btn btn-primary" @click.prevent="addPost()" style="color: white">
                                    <i class="fa fa-plus"></i>
                                    <b>Add Posts</b>
                                </a>
                            </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th width="30px">#</th>
                                        <th><i class="icon_profile"></i> Title </th>
                                        <th><i class="icon_mail_alt"></i> Content</th>
                                        <th><i class="icon_calendar"></i> Posted Date</th>
                                        <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr v-for="(post, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>{{ post.title | upperCase }} </td>
                                    <td v-html="post.body.substr(0, 50)"></td>
                                    <td>{{ post.posted_on | dateOnly }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="#" @click.prevent="viewPost(post)">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a class="btn btn-danger" href="#" @click.prevent="deletePost(post.id)">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="submitForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white">
                                <b>Add New Post</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-times"></i> <b>Post Title</b>
                                </label>
                                <input type="text" class="form-control" v-model="post.title"
                                       placeholder="Enter Firstname" required>
                            </div>

                            <div class="form-group">
                                <label><i class="fa fa-server"></i> Post Content</label>
                                <vue-editor v-model="post.content" :editorToolbar="maintenance"
                                            placeholder="Enter post content"
                                            required></vue-editor>
                            </div>

                            <div class="form-group" style="margin-top: 20px">
                                <label>
                                    <i class="fa fa-clock-o"></i>
                                    Select Posting Date
                                </label>
                                <input type="date" class="form-control" v-model="post.created_date">
                            </div>


                            <div class="form-group">
                                <label for="pro">
                                    <i class="fa fa-image"></i> <b>Attach Picture</b>
                                </label>
                                <input type="file" class="form-control" multiple id="pro"
                                       @change="multipleFile">
                            </div>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Save Post</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editPost" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white">
                                <b>Edit Post</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-user"></i> <b>Post Title</b>
                                </label>
                                <input type="text" class="form-control" v-model="post.title"
                                       placeholder="Enter Firstname" required>
                            </div>

                            <div class="form-group">
                                <label><i class="fa fa-server"></i> Post Content</label>
                                <vue-editor v-model="post.content" :editorToolbar="maintenance"
                                            placeholder="Enter post content"
                                            required ></vue-editor>
                            </div>
                            <hr>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-times"></i>
                                    Select Post Date
                                </label>
                                <input type="date" class="form-control" v-model="post.created_date">
                            </div>

                            <div class="form-group">
                                <label for="pro1">
                                    <i class="fa fa-image"></i> <b>Attach Picture</b>
                                </label>
                                <input type="file" class="form-control" id="pro1"
                                       @change="multipleFile">
                            </div>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail"
                                     style="width: 100px; height: 100px">
                            </div>

                            <div class="row" v-show="gallery.length > 0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4>
                                        <i class="fa fa-image"></i>
                                        <b>Attached Images</b>
                                    </h4>
                                </div>
                            </div>

                            <div class="row" v-show="gallery.length > 0">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" v-for="gal in gallery">
                                    <div class="card">
                                        <a href="" title="click to delete" @click.prevent="deleteImage(gal.id)">
                                            <i class="fa fa-trash text-danger" style="float: right; position: absolute"></i>
                                        </a>
                                        <img class="img img-thumbnail" :src="gal.gallery" alt="Card image" height="200">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="alert" v-show="comment.length > 0">
                                    <h4><b>Comments</b></h4>
                                    <ul class="list-group" v-for="com in comment">

                                        <li class="list-group-item">
                                            <i class="fa fa-comment" style="float:left; padding-right:5px; color: #00aced"></i>
                                            {{  com.comment  }}
                                            <i class="fa fa-trash text-danger" @click.prevent="deleteComment(com.id)"
                                               style="float: right;"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Update Post</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        components:{
            VueEditor,
        },
        data(){
            return{
                maintenance: [
                    ["bold", "italic", "underline"],
                    [{ list: "ordered" }, { list: "bullet" }],
                    ["image", "code-block"],
                ],
               allPost:[],
               comment:[],
               gallery:[],
               post:{
                   id:'',
                   title:'',
                   content:'',
                   image:'',
                   created_date:'',
                   postImage:[],
               },
               pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
               },
               search:'',
               length:10,
               showImage:[],
               progress:false,
               holdme:0,
            }
        },

        methods:{

            getAllPost(){
                axios.get('/admin/get/posts')
                    .then((res) => {
                        this.allPost = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Post Failed", "warning");
                });
            },

            getAllComment(id){
                axios.get('/admin/get/comment/' + id)
                    .then((res) => {
                        this.comment = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Post Comments Failed", "warning");
                });
            },

            getAllGallery(id){
                axios.get('/admin/get/gallery/' + id)
                    .then((res) => {
                        this.gallery = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Post Gallery Failed", "warning");
                });
            },

            multipleFile(e){
                let file = e.target.files;
                for (let i = 0; i < file.length; i++) {

                    if(file[i].type === 'image/jpeg' || file[i].type === 'image/png' || file[i].type === 'image/jpg'){

                        if(file[i].size < 2097152){
                            this.post.postImage.push(file[i]);
                            this.post.image = file[0];
                            this.previewImage(file[i]);
                        } else {
                            Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                        }

                    } else {
                        Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                    }
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            addPost(){
                this.clearForm();
                $('#addPost').modal('show');
            },

            closeModal(){
                $('#addPost').modal('hide');
            },

            viewModal(){
                $('#editPost').modal('show');
            },

            viewPost(post){
                this.showImage = [];
                this.post.id = post.id;
                this.post.title = post.title;
                this.post.content = post.body;
                this.post.created_date = post.created_at;
                this.getAllComment(post.id);
                this.getAllGallery(post.id);
                this.viewModal();
            },

            clearForm(){
               this.post.title = '';
               this.post.content = '';
               this.post.image = '';
               this.post.created_date = '';
               this.post.postImage = [];
               this.showImage = [];
               $('#pro').val('');
            },

            submitForm(){
                this.progress = true;

                let formdata = new FormData();

                formdata.append('title', this.post.title);
                formdata.append('content', this.post.content);
                formdata.append('image', this.post.image);
                formdata.append('created_at', this.post.created_date);

                this.post.postImage.forEach((value)=>{
                    formdata.append('gallery[]', value);
                });


                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/save/post', formdata, config)
                .then(() => {
                    this.closeModal();
                    this.post.postImage = [];
                    Fire.$emit('refresh');
                    Toast.fire("Success :","Post saved successfully","success");
                    this.progress = false;
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            editForm(){
                this.progress = true;

                let formdata = new FormData();
                formdata.append('id', this.post.id);
                formdata.append('title', this.post.title);
                formdata.append('content', this.post.content);
                formdata.append('image', this.post.image);
                formdata.append('created_at', this.post.created_date);

                this.post.postImage.forEach((value)=>{
                    formdata.append('gallery[]', value);
                });


                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/update/post', formdata, config)
                    .then(() => {
                        $('#editPost').modal('hide');
                        this.post.postImage = [];
                        Fire.$emit('refresh');
                        Toast.fire("Success :","Post updated successfully","success");
                        this.progress = false;
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            deletePost(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Post will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/post/' + id)
                        .then(() => {
                            Toast.fire('Deleting Post!','Post has been deleted','success');
                            Fire.$emit('refresh');
                        }).catch(() => {
                            Swal.fire("Failed","Could not delete post","warning");
                        });
                    }
                });
            },

            deleteImage(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Attached Image will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/gallery/' + id)
                        .then(() => {
                            this.getAllGallery(this.post.id);
                            Toast.fire('Deleting Image!','Image has been deleted','success');
                        }).catch(() => {
                            Swal.fire("Failed","Could not delete image","warning");
                        });
                    }
                });
            },

            deleteComment(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Comment will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/comment/' + id)
                        .then(() => {
                            this.getAllComment(this.post.id);
                            Toast.fire('Deleting Comment!','Comment has been deleted','success');
                        }).catch(() => {
                            Swal.fire("Failed","Could not delete comment","warning");
                        });
                    }
                });
            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllPost();
            Fire.$on('refresh',() => {
                this.getAllPost();
            });
        },

        computed:{

            filteredPost(){
                let post = this.allPost;
                if(this.search){
                    post = post.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return post;
            },

            paginated(){
                return this.paginate(this.filteredPost, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }

    .content {
        background-color: white;
    }
</style>