<template>
    <div class="container">

        <!-- Profile modal -->
        <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center" style="background-color:#394A59">
                        <h3 class="modal-title text-white" style="color: white" id="exampleModalLongTitle">
                            <b>Edit Profile Info</b>
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="clearfix"></div>
                    </div>

                    <div class="modal-body">
                        <form class="form" @submit.prevent="submitFormProfile()">

                            <div class="form-group">
                                <img :src="user.image" class="img-circle img-responsive"
                                     alt="user" height="70px" width="70px"/>
                            </div>

                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="fName"
                                       required v-model="user.first_name">
                            </div>

                            <div class="form-group">
                                <label>Other Name</label>
                                <input class="form-control" type="text" name="oName"
                                       required v-model="user.other_name">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="email"
                                       required v-model="user.email">
                            </div>

                            <div class="form-group">
                                <label>Contact Number</label>
                                <input class="form-control" type="text" name="phone"
                                       v-model="user.contact" required>
                            </div>

                            <div class="form-group">
                                <label for="pro">Upload Profile</label>
                                <input type="file" @change="singleFile" id="pro" class="form-control">
                            </div>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                            <div class="modal-footer">
                                <div class="progress" v-show="progress">
                                    <div class="progress-bar" :style="{width : holdme }"></div>
                                </div>

                                <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                    <b style="color: white"><i class="fa fa-edit"></i>  Edit Info</b>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Password Change Modal -->
        <div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center" style="background-color:#394A59">
                        <h3 class="modal-title text-white" style="color: white" id="exampleModal">
                            <b>Change Your Password</b>
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="clearfix"></div>
                    </div>

                    <div class="modal-body">
                        <form class="form" @submit.prevent="passwordChange()">

                            <div class="form-group">
                                <label for="myPass">Enter New Password</label>
                                <input type="password" class="form-control" v-model="admin.password"
                                       placeholder="Enter New Password" id="myPass" required="required">
                            </div>

                            <div class="form-group">
                                <label for="myConfirm">Confirm New Password</label>
                                <input class="form-control" type="password" placeholder="Enter Confirm Password"
                                       id="myConfirm" v-model="admin.confirm_password" required="required">
                            </div>

                            <div class="form-group">
                                <input type="checkbox" @click="visiblePass()"> Show Password
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                     <b style="color: white"><i class="fa fa-lock"></i> Change Password</b>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props:['userinfo'],
        data() {
            return {
                user:{
                    id:'',
                    first_name:'',
                    other_name:'',
                    contact:'',
                    email:'',
                    image:'',
                },
                admin:{
                    password:'',
                    confirm_password:'',
                },
                showImage:[],
                progress:false,
                holdme:0,
            }
        },

        methods: {
            visiblePass() {
                let x = document.getElementById("myPass");
                let y = document.getElementById("myConfirm");
                if (x.type === "password" || y.type === "password") {
                    x.type = "text";
                    y.type = "text";
                } else {
                    x.type = "password";
                    y.type = "password";
                }
            },

            singleFile(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.user.image = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            modalCloseProfile(){
                $('#profile').modal('hide');
            },

            modalClosePassword(){
                $('#change_password').modal('hide');
            },

            submitFormProfile(){
                this.progress = true;
                let formdata = new FormData();

                formdata.append('id', this.user.id);
                formdata.append('firstName', this.user.first_name);
                formdata.append('otherName', this.user.other_name);
                formdata.append('email', this.user.email);
                formdata.append('contact', this.user.contact);
                formdata.append('image', this.user.image);


                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/update/profile', formdata, config)
                    .then(() => {
                        this.modalCloseProfile();
                        Toast.fire("Success :","Profile updated successfully","success");
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            passwordChange(){
                let formdata = new FormData();
                formdata.append('id', this.user.id);
                formdata.append('password', this.admin.password);
                formdata.append('confirm_password', this.admin.confirm_password);

                axios.post('/admin/update/password_change', formdata)
                    .then(() => {
                        this.modalClosePassword();
                        Toast.fire("Success :","Password updated successfully","success");
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },
        },

        mounted() {
            this.user = JSON.parse(this.userinfo);
        },

    }
</script>
