<template>

    <section class="wrapper" >

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <section class="panel">

                    <header class="panel-heading tab-bg-info">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#step_one">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Step 1
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#step_two">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Step 2
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#step_three">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Step 3
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#step_four">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Step 4
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#step_five">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Step 5
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#step_six">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Step 6
                                </a>
                            </li>
                        </ul>
                    </header>

                    <div class="panel-body">
                        <div class="tab-content">

                            <div id="step_one" class="tab-pane active">
                                <div class="profile-activity">
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                            <form @submit.prevent="submitUserForm()" role="form">
                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-users"></i>
                                                        <b>Select School Owner's if Already Registered</b>
                                                    </label>
                                                    <v-select :options="allUser"
                                                              label="fullname"
                                                              v-model="user.id"
                                                              :reduce="allUser => allUser.userID" required
                                                              placeholder="Select Proprietors Name">
                                                    </v-select>
                                                    <p style="color: red">
                                                        <i>
                                                            If proprietor exist select name and continue from step 2
                                                        </i>
                                                    </p>
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <h4 class="text-center">
                                                        <b> Register School Owner's Information if does not exist</b>
                                                    </h4>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-user-o"></i>
                                                       <b> First Name</b>
                                                    </label>
                                                    <input type="text" v-model="user.first_name" class="form-control"
                                                           placeholder="Enter First Name" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-user"></i>
                                                        <b>Other Name</b>
                                                    </label>
                                                    <input type="text" v-model="user.other_name" class="form-control"
                                                           placeholder="Enter Other Name" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-themeisle"></i>
                                                        Position in School
                                                    </label>
                                                    <input type="text" v-model="user.position" class="form-control"
                                                           placeholder="Enter Your Position in the school" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-envelope"></i>
                                                        <b>Email Address</b>
                                                    </label>
                                                    <input type="email" v-model="user.email" class="form-control"
                                                           placeholder="Enter Email Address"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-mobile-phone"></i>
                                                        <b>Enter Your Contact</b>
                                                    </label>
                                                    <vue-tel-input :maxLen="15" v-model="user.contact"
                                                                   required>
                                                    </vue-tel-input>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <i class="fa fa-image"></i>
                                                        <b>Select Profile Image</b>
                                                    </label>
                                                    <input type="file" @change="singleFile" required class="form-control">
                                                </div>

                                                <div class="form-group flex-fill" v-show="showImage.length > 0">
                                                    <img v-for="show in showImage" :src="show" alt="Image"
                                                         class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                                                </div>

                                                <div class="form-group">
                                                    <div class="progress" v-show="progress">
                                                        <div class="progress-bar" :style="{width : holdme }"></div>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                                                        <i class="fa fa-save"></i>
                                                        <b>Save and Continue</b>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="step_two" class="tab-pane">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <form @submit.prevent="submitSchoolForm()" class="form">
                                            <div class="form-group">
                                                <h4 class="text-center">
                                                    <i class="fa fa-graduation-cap"></i>
                                                    <b>School Information</b>
                                                </h4>
                                                <hr>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-id-badge"></i>
                                                    <b>Enter Membership ID</b>
                                                </label>
                                                <input type="text" v-model="user.id" class="form-control"
                                                       placeholder="Enter Membership ID" required/>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-graduation-cap"></i>
                                                    <b>School Name</b>
                                                </label>
                                                <input type="text" v-model="school.school_name" class="form-control"
                                                       placeholder="Enter School Name" required/>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-envelope"></i>
                                                    <b>School Email</b>
                                                </label>
                                                <input type="email" v-model="school.school_email" class="form-control"
                                                       placeholder="Enter School Email" required/>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-phone-square"></i>
                                                    <b>Enter School Contact</b>
                                                </label>
                                                <vue-tel-input :maxLen="15" v-model="school.school_contact" required>
                                                </vue-tel-input>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-address-book"></i>
                                                    <b>School Address</b>
                                                </label>
                                                <input type="text" v-model="school.school_address" class="form-control"
                                                       placeholder="Enter School Address"/>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-building"></i>
                                                    <b></b>
                                                </label> <br>
                                                <label class="radio-inline">
                                                    <input type="radio" required v-model="school.school_facilities"
                                                           name="optradio" value="Day">
                                                    Day
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" v-model="school.school_facilities"
                                                           value="Boarding" name="optradio">
                                                    Boarding
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" v-model="school.school_facilities"
                                                           value="Day & Boarding" name="optradio">
                                                    Day and Boarding
                                                </label>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-link"></i>
                                                    <b>School Website Link</b>
                                                </label>
                                                <input type="text" v-model="school.school_website" class="form-control"
                                                       placeholder="Enter School Website Link"/>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-calendar"></i>
                                                   <b> School Established Date</b>
                                                </label>
                                                <input type="date" required v-model="school.established_date"
                                                       class="form-control" placeholder="Enter School Established date"/>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-renren"></i>
                                                    <b>Select Region</b>
                                                </label>
                                                <v-select :options="allRegion"
                                                          label="name"
                                                          v-model="school.region"
                                                          :reduce="allRegion => allRegion.id" required
                                                          placeholder="Select Region"
                                                          @input="getAllDistrict()">
                                                </v-select>
                                            </div>

                                            <div class="form-group" v-show="allDistrict.length > 0">
                                                <label>
                                                    <i class="fa fa-cc-discover"></i>
                                                    <b>Select District</b>
                                                </label>
                                                <v-select :options="allDistrict"
                                                          v-model="school.district"
                                                          label="name"
                                                          :reduce="allDistrict => allDistrict.id" required
                                                          placeholder="Select District"
                                                          @input="getAllZonal()">
                                                </v-select>
                                            </div>

                                            <div class="form-group" v-show="allZone.length > 0">
                                                <label>
                                                    <i class="fa fa-file-zip-o"></i>
                                                    <b>Select Zone</b>
                                                </label>
                                                <v-select :options="allZone"
                                                          v-model="school.zone"
                                                          label="name"
                                                          :reduce="allZone => allZone.id" required
                                                          placeholder="Select Zone">
                                                </v-select>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-home"></i>
                                                    <b>Town / City</b>
                                                </label>
                                                <input type="text" v-model="school.town" class="form-control"
                                                       placeholder="Enter Town/City School is Located" required/>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-lemon-o"></i>
                                                   <b> Suburb</b>
                                                </label>
                                                <input type="text" v-model="school.suburb" class="form-control"
                                                       placeholder="Enter Suburb School is Located" required/>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-level-up"></i>
                                                    <b>Levels (<i>Select where applicable</i>)</b>
                                                </label>
                                                <v-select multiple :options="allLevels"
                                                          v-model="school.levels"
                                                          label="name"
                                                          :reduce="allLevels => allLevels.id" required
                                                          placeholder="Select Levels">
                                                </v-select>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-picture-o"></i>
                                                   <b> Select School Logo</b>
                                                </label>
                                                <input type="file" @change="schoolLogo" class="form-control">
                                            </div>

                                            <div class="form-group flex-fill" v-show="showImage1.length > 0">
                                                <img v-for="show in showImage1" :src="show" alt="Image"
                                                     class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                                            </div>

                                            <div class="form-group">
                                                <div class="progress" v-show="progress1">
                                                    <div class="progress-bar" :style="{width : holdme1 }"></div>
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-block btn-lg">
                                                    <i class="fa fa-save"></i>
                                                    <b>Save and Continue</b>
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
                                </div>
                            </div>

                            <div id="step_three" class="tab-pane">

                                  <div class="row">
                                      <div class="form-group">
                                          <h4 class="text-center">
                                              <i class="fa fa-graduation-cap"></i>
                                              <b> Add School Class Statistics</b>
                                          </h4>
                                      </div>
                                      <div class="form-group">
                                          <button class="btn btn-primary btn-sm pull-right" @click.prevent="addNewInput()"
                                                  title="Click to add more">
                                              <i class="fa fa-plus"></i>  Click to add more class statistics
                                          </button>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <form @submit.prevent="submitSchoolClassForm()" class="form">

                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-id-card"></i>
                                                      <b>Enter School ID</b>
                                                  </label>
                                                  <input type="text" v-model="school.id" class="form-control"
                                                         placeholder="Enter School ID ">
                                              </div>
                                          </div>

                                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="(sch, k) in
                                          schoolPeople" :key="k">

                                              <div class="form-group">
                                                  <a href="" style="color: #ff0c41;" class="text-center pull-right"
                                                     @click.prevent="deleteRow(k,sch)" v-show="k > 0" >
                                                      <i class="fa fa-trash"></i>
                                                  </a>
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-cloud"></i>
                                                      <b>Select Class</b>
                                                  </label>
                                                  <v-select :options="allClass"
                                                            label="name"
                                                            v-model="sch.class_id"
                                                            :reduce="allClass => allClass.id" required
                                                            placeholder="Select Class">
                                                  </v-select>
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-sort-numeric-asc"></i>
                                                      <b>No. of Classroom</b>
                                                  </label>
                                                  <input type="number" class="form-control"
                                                         v-model="sch.tot_classroom" placeholder="Eg. 2">
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-bell-o"></i>
                                                      <b>No. of Boys</b>
                                                  </label>
                                                  <input type="number" class="form-control"
                                                         v-model="sch.tot_boys" placeholder="Eg. 56">
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-github"></i>
                                                      <b>No. of Girls</b>
                                                  </label>
                                                  <input type="number" class="form-control"
                                                         v-model="sch.tot_girls" placeholder="Eg. 33">
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-train"></i>
                                                      <b>No. of Male Trained Teachers</b>
                                                  </label>
                                                  <input type="number" class="form-control"
                                                         v-model="sch.male_trained" placeholder="Eg. 3">
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-male"></i>
                                                      <b>No. of Male Untrained Teachers</b>
                                                  </label>
                                                  <input type="number" class="form-control"
                                                         v-model="sch.male_untrained" placeholder="Eg. 1">
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-female"></i>
                                                      <b>No. of Female Trained Teachers</b>
                                                  </label>
                                                  <input type="number" class="form-control"
                                                         v-model="sch.female_trained" placeholder="Eg. 3">
                                              </div>

                                              <div class="form-group">
                                                  <label>
                                                      <i class="fa fa-train"></i>
                                                      <b>No. of Female Untrained Teachers</b>
                                                  </label>
                                                  <input type="number" class="form-control"
                                                         v-model="sch.female_untrained" placeholder="Eg. 1">
                                              </div>

                                          </div>

                                          <div class="form-group" style="padding-left: 10px; padding-right: 10px">
                                              <button type="submit" class="btn btn-primary btn-block btn-lg">
                                                  <i class="fa fa-save"></i>
                                                  <b>Save and Continue</b>
                                              </button>
                                          </div>

                                      </form>
                                  </div>

                            </div>

                            <div id="step_four" class="tab-pane">
                                <div class="form-group">
                                    <h4 class="text-center">
                                        <i class="fa fa-graduation-cap"></i>
                                        <b> Add School Headmaster's Information</b>
                                    </h4>
                                </div>
                                <form @submit.prevent="submitSchoolHeadForm()" class="form">

                                            <div class="form-group">
                                                <label>
                                                    <i class="fa fa-id-card"></i>
                                                    <b>Enter School ID</b>
                                                </label>
                                                <input type="text" v-model="school.id" class="form-control"
                                                       placeholder="Enter School ID ">
                                            </div>

                                            <div class="form-group">

                                                <div class="row">

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <label>
                                                            <i class="fa fa-neuter"></i>
                                                            <b>Name of Headmaster</b>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <label>
                                                            <i class="fa fa-mobile-phone"></i>
                                                            <b>Phone Number</b>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label>
                                                            <i class="fa fa-forumbee"></i>
                                                            <b>Class/Form Heading</b>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                        <button class="btn btn-primary btn-sm pull-right" @click.prevent="addNewHead()"
                                                                title="Click to add more">
                                                            <i class="fa fa-plus"></i> more
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group">


                                                <div class="row" v-for="(head, k) in headMaster" :key="k">

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                   v-model="head.head_name" placeholder="Head Name">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <vue-tel-input :maxLen="15" v-model="head.head_contact" required>
                                                            </vue-tel-input>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                   v-model="head.class_form" placeholder="Class/Form">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                        <div class="form-group" v-show="k > 0">
                                                            <a href="" style="color: #ff0c41;" class="text-center pull-right"
                                                               @click.prevent="deleteHead(k, head)">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block btn-lg">
                                                    <i class="fa fa-save"></i>
                                                    <b>Save and Continue</b>
                                                </button>
                                            </div>

                                        </form>
                            </div>

                            <div id="step_five" class="tab-pane">
                                 <div class="form-group">
                                    <h4 class="text-center">
                                        <i class="fa fa-graduation-cap"></i>
                                        <b>Add School Total Text Books Per Class</b>
                                    </h4>
                                 </div>
                                 <form @submit.prevent="submitSchoolTextBooksForm()" class="form">

                                            <div class="form-group">
                                                <label>Enter School ID</label>
                                                <input type="text" v-model="school.id" class="form-control"
                                                       placeholder="Enter School ID ">
                                            </div>

                                            <div class="form-group">

                                                <div class="row">

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <label>
                                                            <i class="fa fa-cloud"></i>
                                                            <b>Select Class</b>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <label>
                                                            <i class="fa fa-suitcase"></i>
                                                            <b>Select Subject</b>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <label>
                                                            <i class="fa fa-book"></i>
                                                            <b>Total TextBook</b>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                        <button class="btn btn-primary btn-sm pull-right"
                                                                @click.prevent="addNewBook()" title="Click to add more">
                                                            <i class="fa fa-plus"></i> more
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <div class="row" v-for="(book, k) in addBooks" :key="k">

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <v-select :options="allClass"
                                                                      v-model="book.class_id"
                                                                      label="name"
                                                                      :reduce="allClass => allClass.id" required
                                                                      placeholder="Select Class">
                                                            </v-select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <v-select :options="allSubject"
                                                                      v-model="book.subject_id"
                                                                      label="subject"
                                                                      :reduce="allSubject => allSubject.id" required
                                                                      placeholder="Select Subject">
                                                            </v-select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="number" class="form-control"
                                                                   v-model="book.number" placeholder="Total TextBooks">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                        <div class="form-group" v-show="k > 0">
                                                            <a href="" style="color: #ff0c41;" class="text-center pull-right"
                                                               @click.prevent="deleteBook(k, book)">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block btn-lg">
                                                    <i class="fa fa-save"></i>
                                                    <b>Save and Continue</b>
                                                </button>
                                            </div>

                                        </form>
                            </div>

                            <div id="step_six" class="tab-pane">
                                <div class="form-group">
                                    <h4 class="text-center">
                                        <i class="fa fa-graduation-cap"></i>
                                        <b>Add School Registered Information</b>
                                    </h4>
                                </div>
                                <form @submit.prevent="submitSchoolRegisterForm()" class="form">

                                    <div class="form-group">
                                        <label>
                                            <i class="fa fa-id-card"></i>
                                            <b>Enter School ID</b>
                                        </label>
                                        <input type="text" v-model="school.id" class="form-control"
                                               placeholder="Enter School ID" required>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <i class="fa fa-registered"></i>
                                            <b>Is the school registered with the National Inspectory Board ?</b>
                                        </label>
                                        <br>
                                        <label class="radio-inline">
                                            <input type="radio" required v-model="schoolRegister.reg_min"
                                                   name="min" value="Yes" @click="showMin()">
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" v-model="schoolRegister.reg_min"
                                                   value="No" name="min" @click="showMin1()">
                                            No
                                        </label>
                                    </div>

                                    <div class="form-group" v-show="with_min">
                                        <label>
                                            <i class="fa fa-navicon"></i>
                                            <b>Enter Registration Number</b>
                                        </label>
                                        <input type="text" v-model="schoolRegister.min_number" class="form-control"
                                               placeholder="Enter Registration Number ">
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <i class="fa fa-registered"></i>
                                            <b>Is the school registered with the Registrar General ?</b>
                                        </label>
                                        <br>
                                        <label class="radio-inline">
                                            <input type="radio" required v-model="schoolRegister.reg_gen"
                                                   name="gen" value="Yes" @click="showReg()">
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" v-model="schoolRegister.reg_gen"
                                                   value="No" name="gen" @click="showReg1()">
                                            No
                                        </label>
                                    </div>

                                    <div class="form-group" v-show="with_registerar">
                                        <label>
                                            <i class="fa fa-navicon"></i>
                                            <b>Enter Registration Number</b>
                                        </label>
                                        <input type="text" v-model="schoolRegister.gen_number" class="form-control"
                                               placeholder="Enter Registration Number ">
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <i class="fa fa-registered"></i>
                                            <b>Is the school registered with GNAPS ?</b>
                                        </label>
                                        <br>
                                        <label class="radio-inline">
                                            <input type="radio" required v-model="schoolRegister.reg_gnaps"
                                                   name="gnaps" value="Yes" @click="showGnaps()">
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" v-model="schoolRegister.reg_gnaps"
                                                   value="No" name="gnaps" @click="showGnaps1()">
                                            No
                                        </label>
                                    </div>

                                    <div class="form-group" v-show="with_gnaps">
                                        <label>
                                            <i class="fa fa-navicon"></i>
                                           <b> Enter Registration Number</b>
                                        </label>
                                        <input type="text" v-model="schoolRegister.gnaps_number" class="form-control"
                                               placeholder="Enter Registration Number ">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block btn-lg">
                                            <i class="fa fa-save"></i>
                                            <b>Save and Continue</b>
                                        </button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="panel-footer">

                    </div>

                </section>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12"></div>
        </div>


    </section>

</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        components:{
            vSelect,
        },
        data() {
            return {
                message:{
                    name:'',
                    contact:'',
                    email:'',
                    subject:'',
                    passage:'',
                },
                allClass:[],
                allSubject:[],
                allLevels:[],
                allRegion:[],
                allDistrict:[],
                allZone:[],
                allUser:[],
                user:{
                    id:'',
                    first_name:'',
                    other_name:'',
                    email:'',
                    contact:'',
                    profile:'',
                    position:'',
                },
                school:{
                    id:'',
                    school_name:'',
                    school_email:'',
                    school_contact:'',
                    school_address:'',
                    school_facilities:'',
                    school_website:'',
                    established_date:'',
                    levels:[],
                    region:'',
                    district:'',
                    zone:'',
                    town:'',
                    suburb:'',
                    logo:'',
                },
                schoolPeople:[{
                    class_id:'',
                    tot_classroom:'',
                    tot_boys:'',
                    tot_girls:'',
                    male_trained:'',
                    male_untrained:'',
                    female_trained:'',
                    female_untrained:'',
                }],
                headMaster:[{
                    school_id:'',
                    head_name:'',
                    head_contact:'',
                    class_form:'',
                }],
                addBooks:[{
                    class_id:'',
                    subject_id:'',
                    number:'',
                }],
                schoolRegister:{
                    reg_min:'',
                    min_number:'',
                    reg_gen:'',
                    gen_number:'',
                    reg_gnaps:'',
                    gnaps_number:'',
                },
                showImage:[],
                progress:false,
                holdme:0,
                showImage1:[],
                progress1:false,
                holdme1:0,
                with_min:false,
                with_registerar:false,
                with_gnaps:false,
            }
        },

        methods: {

            showMin(){
                this.with_min = true;
            },

            showReg(){
                this.with_registerar = true;
            },

            showGnaps(){
                this.with_gnaps = true;
            },

            showMin1(){
                this.with_min = false;
            },

            showReg1(){
                this.with_registerar = false;
            },

            showGnaps1(){
                this.with_gnaps = false;
            },

            addNewInput() {
                this.schoolPeople.push({
                    class_id:'',
                    tot_classroom:'',
                    tot_boys:'',
                    tot_girls:'',
                    male_trained:'',
                    male_untrained:'',
                    female_trained:'',
                    female_untrained:'',
                });
            },

            deleteRow(index, sch) {
                let idx = this.schoolPeople.indexOf(sch);
                if (idx > -1) {
                    this.schoolPeople.splice(idx, 1);
                }
            },

            addNewHead() {
                this.headMaster.push({
                    school_id:'',
                    head_name:'',
                    head_contact:'',
                    class_form:'',
                });
            },

            deleteHead(index, head) {
                let idx = this.headMaster.indexOf(head);
                if (idx > -1) {
                    this.headMaster.splice(idx, 1);
                }
            },

            addNewBook() {
                this.addBooks.push({
                    class_id:'',
                    subject_id:'',
                    number:'',
                });
            },

            deleteBook(index, book) {
                let idx = this.addBooks.indexOf(book);
                if (idx > -1) {
                    this.addBooks.splice(idx, 1);
                }
            },

            singleFile(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.user.profile = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            schoolLogo(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.school.logo = file;
                        this.previewLogo(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewLogo(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage1.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            getAllClasse() {
                axios.get('/all/classes')
                    .then((res) => {
                        this.allClass = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Classes Failed", "warning");
                });
            },

            getAllUsers(){
                axios.get('/admin/get/all_users')
                    .then((res) => {
                        this.allUser = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all User Failed", "warning");
                });
            },

            getAllSubject() {
                axios.get('/all/subjects')
                    .then((res) => {
                        this.allSubject = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Subject Failed", "warning");
                });
            },

            getAllLevel() {
                axios.get('/all/levels')
                    .then((res) => {
                        this.allLevels = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Levels Failed", "warning");
                });
            },

            getAllRegion() {
                axios.get('/all/region')
                    .then((res) => {
                        this.allRegion = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Region Failed", "warning");
                });
            },

            getAllDistrict() {
                this.school.district = '';
                axios.get('/all/district/' + this.school.region)
                    .then((res) => {
                        this.allDistrict = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all District Failed", "warning");
                });
            },

            getAllZonal() {
                axios.get('/all/zonal/' + this.school.district)
                    .then((res) => {
                        this.allZone = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Zonal Failed", "warning");
                });
            },

            submitUserForm(){
                this.progress = true;
                let formdata = new FormData();

                formdata.append('firstName', this.user.first_name);
                formdata.append('otherName', this.user.other_name);
                formdata.append('email', this.user.email);
                formdata.append('contact', this.user.contact);
                formdata.append('image', this.user.profile);
                formdata.append('position', this.user.position);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/save/users', formdata, config)
                    .then((res) => {
                        this.user.id = res.data;
                        Swal.fire("Membership ID "+ ' ' + res.data.toString(),"Please keep this membership ID carefully, it will be used in the next step","success");
                        this.progress = false;
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            submitSchoolForm(){
                this.progress1 = true;
                let formdata = new FormData();

                formdata.append('user_id', this.user.id);
                formdata.append('school_name', this.school.school_name);
                formdata.append('school_email', this.school.school_email);
                formdata.append('school_contact', this.school.school_contact);
                formdata.append('school_address', this.school.school_address);
                formdata.append('school_facility', this.school.school_facilities);
                formdata.append('school_website', this.school.school_website);
                formdata.append('established_date', this.school.established_date);
                formdata.append('region', this.school.region);
                formdata.append('district', this.school.district);
                formdata.append('zone', this.school.zone);
                formdata.append('town', this.school.town);
                formdata.append('suburb', this.school.suburb);
                formdata.append('logo', this.school.logo);

                this.school.levels.forEach((value) => {
                    formdata.append('levels[]', value);
                });

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme1 = Math.floor(load) + '%';
                    },
                };

                axios.post('/save/school', formdata, config)
                    .then((res) => {
                        this.school.id = res.data;
                        Swal.fire("School ID "+ ' ' + res.data.toString(),"Please keep this school ID carefully, it will be used in the next step","success");
                        this.progress1 = false;
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            submitSchoolClassForm(){
                let formdata = new FormData();

                formdata.append('school_id', this.school.id);

                this.schoolPeople.forEach((value) => {
                    formdata.append('classID[]', value.class_id);
                    formdata.append('classroom[]', value.tot_classroom);
                    formdata.append('boys[]', value.tot_boys);
                    formdata.append('girls[]', value.tot_girls);
                    formdata.append('male_trained[]', value.male_trained);
                    formdata.append('male_untrained[]', value.male_untrained);
                    formdata.append('female_trained[]', value.female_trained);
                    formdata.append('female_untrained[]', value.female_untrained);

                });

                axios.post('/save/classes/statistics', formdata)
                    .then((res) => {
                        Toast.fire("Success :","Classes statistics saved successfully","success");
                    }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },

            submitSchoolHeadForm(){
                let formdata = new FormData();

                formdata.append('school_id', this.school.id);

                this.headMaster.forEach((value) => {
                    formdata.append('head_name[]', value.head_name);
                    formdata.append('head_contact[]', value.head_contact);
                    formdata.append('class_form[]', value.class_form);
                });

                axios.post('/save/heads/info', formdata)
                    .then((res) => {
                        Toast.fire("Success :","Heads Information saved successfully","success");
                    }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },

            submitSchoolTextBooksForm(){
                let formdata = new FormData();

                formdata.append('school_id', this.school.id);

                this.addBooks.forEach((value) => {
                    formdata.append('classID[]', value.class_id);
                    formdata.append('subjectID[]', value.subject_id);
                    formdata.append('totalBooks[]', value.number);
                });

                axios.post('/save/school/textbooks', formdata)
                    .then((res) => {
                        Toast.fire("Success :","School TextBooks saved successfully","success");
                    }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },

            submitSchoolRegisterForm(){
                let formdata = new FormData();

                formdata.append('school_id', this.school.id);
                formdata.append('reg_min', this.schoolRegister.reg_min);
                formdata.append('min_number', this.schoolRegister.min_number);
                formdata.append('reg_gen', this.schoolRegister.reg_gen);
                formdata.append('gen_number', this.schoolRegister.gen_number);
                formdata.append('reg_gnaps', this.schoolRegister.reg_gnaps);
                formdata.append('gnaps_number', this.schoolRegister.gnaps_number);


                axios.post('/save/school/register', formdata)
                    .then((res) => {
                        Toast.fire("Success :","School Register saved successfully","success");
                    }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },

        },

        created() {
            this.getAllClasse();
            this.getAllSubject();
            this.getAllLevel();
            this.getAllRegion();
            this.getAllUsers();
        },

    }
</script>