<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                        <h2 style="color: white">ANNUAL REPORT</h2>
                        <p class="pull-right">
                            <a href="" class="btn btn-primary" @click.prevent="addReport()" style="color: white">
                                <i class="fa fa-plus"></i>
                                <b>Add New Report</b>
                            </a>
                        </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th width="30px">#</th>
                                        <th><i class="icon_piechart"></i> Title </th>
                                        <th><i class="icon_cog"></i> Content</th>
                                        <th><i class="icon_calendar"></i> Created</th>
                                        <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr v-for="(report, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>{{ report.title }}</td>
                                    <td v-html="report.content.substr(0,80)"></td>
                                    <td>{{ report.created_at | dateOnly }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="#" @click.prevent="viewReport(report)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="addReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="submitForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Add Annual Report</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-ticket"></i>
                                    <b>Title of Annual Report</b>
                                </label>
                                <input type="text" v-model="report.title" class="form-control"
                                       placeholder="Enter title annual report">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-server"></i>
                                    <b>Annual Report Content</b>
                                </label>
                                <vue-editor v-model="report.content" :editorToolbar="maintenance"
                                            placeholder="Enter Annual Report Content"
                                            required class="content">
                                </vue-editor>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white">
                                    <i class="fa fa-save"></i>
                                    Save Annual Report
                                </b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editReport" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit Annual Report</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-ticket"></i>
                                    <b>Title of Annual Report</b>
                                </label>
                                <input type="text" v-model="report.title" class="form-control"
                                       placeholder="Enter annual report title">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-server"></i>
                                    <b>Annual Report Content</b>
                                </label>
                                <vue-editor v-model="report.content" :editorToolbar="maintenance"
                                            placeholder="Enter Annual Report Content"
                                            required class="content">
                                </vue-editor>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white">
                                    <i class="fa fa-edit"></i> Update Annual Report
                                </b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        components:{
            VueEditor,
        },
        data(){
            return{
                maintenance: [
                    ["bold", "italic", "underline"],
                    [{ list: "ordered" }, { list: "bullet" }],
                    ["image", "code-block"],
                ],
               allReport:[],
               report:{
                   id:'',
                   title:'',
                   content:'',
               },
               pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
               },
               search:'',
               length:10,
            }
        },

        methods:{

            getAllReport(){
                axios.get('/admin/get/all_report')
                    .then((res) => {
                        this.allReport = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Report Failed", "warning");
                });
            },


            addReport(){
                this.clearForm();
                $('#addReport').modal('show');
            },

            closeModal(){
                $('#addReport').modal('hide');
            },

            viewModal(){
                $('#editReport').modal('show');
            },

            viewReport(report){
                this.report.id = report.id;
                this.report.title = report.title;
                this.report.content = report.content;

                this.viewModal();
            },

            clearForm(){
               this.report.title = '';
               this.report.content = '';
            },

            submitForm(){
                let formdata = new FormData();
                formdata.append('title', this.report.title);
                formdata.append('content', this.report.content);

                axios.post('/admin/save/report', formdata)
                .then(() => {
                    this.closeModal();
                    Fire.$emit('refresh');
                    Toast.fire("Success :","Annual Report saved successfully","success");
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            editForm(){
                let formdata = new FormData();
                formdata.append('id', this.report.id);
                formdata.append('title', this.report.title);
                formdata.append('content', this.report.content);

                axios.post('/admin/update/report', formdata)
                    .then(() => {
                        $('#editReport').modal('hide');
                        Fire.$emit('refresh');
                        Toast.fire("Success :","Annual Report updated successfully","success");
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllReport();
            Fire.$on('refresh',() => {
                this.getAllReport();
            });
        },

        computed:{

            filteredReport(){
                let report = this.allReport;
                if(this.search){
                    report = report.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return report;
            },

            paginated(){
                return this.paginate(this.filteredReport, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }

    .content {
        background-color: white;
        height: 400px;
    }
</style>