<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">
                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                            <h2 style="color: white">SCHOOL OWNERS TABLE</h2>
                            <p class="pull-right">
                                <a href="" class="btn btn-primary" @click.prevent="addUser()" style="color: white">
                                    <i class="fa fa-plus"></i>
                                    <b>Add New School Owner</b>
                                </a>
                            </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                  <tr>
                                    <th width="30px">#</th>
                                    <th><i class="icon_id"></i> User ID</th>
                                    <th><i class="icon_profile"></i> Full Name</th>
                                    <th><i class="icon_mail_alt"></i> Email</th>
                                    <th><i class="icon_mobile"></i> Contact</th>
                                    <th><i class="icon_calendar"></i> Created</th>
                                    <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(user, index) in paginated">
                                    <td>{{ index+=1 }}</td>
                                    <td>{{ user.userID }}</td>
                                    <td>{{ user.other_name | upperCase }} {{ user.first_name | upperCase }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.contact }}</td>
                                    <td>{{ user.created_at | dateOnly }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="#" @click.prevent="viewUser(user)">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a class="btn btn-danger" href="#" @click.prevent="deleteUser(user.id)">
                                            <i class="icon_close_alt2"></i>
                                        </a> |
                                        <a class="btn btn-primary" href="#" @click.prevent="printIDCard(user)">
                                            <i class="icon_printer-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="addUsers" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="submitForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white">
                                <b>Add New School Owner</b>
                            </h3>

                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-user"></i> <b>Enter First Name</b>
                                </label>
                                <input type="text" class="form-control" v-model="executive.first_name"
                                       placeholder="Enter First Name" required>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-user"></i> <b>Enter Other Name</b>
                                </label>
                                <input type="text" class="form-control" v-model="executive.other_name"
                                       placeholder="Enter Other Name">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-envelope"></i>  <b>Enter Email Address</b>
                                </label>
                                <input type="email" class="form-control" v-model="executive.email"
                                       placeholder="Enter Email Address">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-phone"></i>  <b>Enter Phone Number</b>
                                </label>
                                <vue-tel-input :maxLen="15" v-model="executive.contact"></vue-tel-input>
                            </div>

                            <div class="form-group">
                                <label for="pro">
                                    <i class="fa fa-picture-o"></i> <b>Select Profile Picture</b>
                                </label>
                                <input type="file" class="form-control" id="pro" placeholder="Enter Position"
                                       @change="singleFile">
                            </div>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Save School Owner</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editUsers" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white">
                                <b>Add New Executive</b>
                            </h3>

                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <img class="img img-thumbnail" :src="executive.image" alt="Profile"
                                     width="70px" height="70px">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-user"></i> Enter First Name
                                </label>
                                <input type="text" class="form-control" v-model="executive.first_name"
                                       placeholder="Enter First Name" required>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-user"></i> Enter Other Name
                                </label>
                                <input type="text" class="form-control" v-model="executive.other_name"
                                       placeholder="Enter Other Name">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-envelope"></i>  Enter Email Address
                                </label>
                                <input type="email" class="form-control" v-model="executive.email"
                                       placeholder="Enter Email Address">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-phone"></i>  Enter Phone Number
                                </label>
                                <vue-tel-input :maxLen="15" v-model="executive.contact"></vue-tel-input>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-picture-o"></i> Select Profile Picture
                                </label>
                                <input type="file" class="form-control" placeholder="Enter Position"
                                       @change="singleFile">
                            </div>

                            <div class="form-group flex-fill">
                                <img v-for="show in showImage" :src="show" alt="Image" class="img img-thumbnail mr-1" style="width: 100px; height: 100px">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="progress" v-show="progress">
                                <div class="progress-bar" :style="{width : holdme }"></div>
                            </div>

                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Update School Owner</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white">
                                <b>Print Membership ID Card</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body" style="background-color: white">

                            <div id="printIDCard">

                                <table class="table myCard"
                                       style="background-image:linear-gradient(to right,#e2fff3,#fdf5ff) !important;border:2px dotted #CE9BA1;border-radius:5px; font-size:10px;">
                                    <tbody>
                                        <tr style="font-size: 15px; border: 2px dotted #CE9BA1; background-image:linear-gradient(to right, #e2fff3, #fdf5ff);">
                                            <td>
                                                <img :src="'/images/logo.png'" style="width:50px; height:50px" alt="Logo">
                                            </td>
                                            <td class="text-center" colspan="2">
                                                <b>GHANA NATIONAL ASSOCIATION OF PRIVATE SCHOOLS</b>
                                                <br> ASHANTI REGION : MEMBERSHIP CARD
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:9px; font-weight:bold;">NAME </td>
                                            <td>{{ cardInfo.name }}</td>
                                            <td rowspan="5" class="text-right">
                                                <img :src="cardInfo.post_port" style="width:180px; height:200px; float:right"
                                                     alt="Logo" class="img img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:9px; font-weight:bold;">CARD ID</td>
                                            <td>{{ cardInfo.user_id }}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:9px; font-weight:bold;">POSITION</td>
                                            <td>{{ cardInfo.position }}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:9px; font-weight:bold;">ISSUED DATE</td>
                                            <td>{{ cardInfo.issued_date }}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:9px; font-weight:bold;">EXPIRED DATE</td>
                                            <td>{{ cardInfo.expired_date }}</td>
                                        </tr>
                                    </tbody>
                                    <tbody style="font-size: 15px;" v-if="cardInfo.schools.length > 0">
                                       <tr>
                                           <td colspan="3">
                                               <b>School(s) </b>
                                           </td>
                                       </tr>
                                       <tr v-for="card in cardInfo.schools">
                                            <td colspan="3">{{ card.school_name }}</td>
                                       </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-block" @click.prevent="printMembershipCard()"
                               style="font-size:16px; background-color:#394A59; color: white">
                               <i class="fa fa-print"></i>
                                Print Card
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    export default {
        data(){
            return{
               allExecutive:'',
               executive:{
                   id:'',
                   first_name:'',
                   other_name:'',
                   email:'',
                   contact:'',
                   image:'',
               },
               pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
               },
               search:'',
               length:10,
               showImage:[],
               progress:false,
               holdme:0,
               cardInfo:{
                   name:'',
                   user_id:'',
                   position:'',
                   post_port:'',
                   schools:[],
                   issued_date:'',
                   expired_date:'',
               },
            }
        },

        methods:{

            printMembershipCard() {
                setTimeout(() => {
                    this.$htmlToPaper('printIDCard');
                }, 500);
            },

            getAllExecutive(){
                axios.get('/admin/get/member')
                    .then((res) => {
                        this.allExecutive = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Owners Failed", "warning");
                });
            },

            singleFile(e){
                let file = e.target.files[0];
                if(file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/jpg'){

                    if(file.size < 2097152){
                        this.executive.image = file;
                        this.previewImage(file);
                    } else {
                        Swal.fire('Image Size Too Large', 'Image size cannot be more than 2MB','warning')
                    }

                }  else {
                    Swal.fire('File Format not Supported', 'Supported file types are jpg | jpeg | png','warning')
                }
            },

            previewImage(file){
                let reader = new FileReader();
                reader.onload = (e) =>{
                    this.showImage.push(e.target.result);
                };
                reader.readAsDataURL(file);
            },

            addUser(){
                this.clearForm();
                $('#addUsers').modal('show');
            },

            closeModal(){
                $('#addUsers').modal('hide');
            },

            viewModal(){
                $('#editUsers').modal('show');
            },

            viewUser(user){
                this.showImage = [];
                this.executive.id = user.id;
                this.executive.first_name = user.first_name;
                this.executive.other_name = user.other_name;
                this.executive.email = user.email;
                this.executive.contact = user.contact;
                this.executive.image = user.image;
                this.viewModal();
            },

            clearForm(){
               this.executive.first_name = '';
               this.executive.other_name = '';
               this.executive.email = '';
               this.executive.contact = '';
               this.showImage = [];
               $('#pro').val('');
            },

            submitForm(){
                this.progress = true;

                let formdata = new FormData();
                formdata.append('firstName', this.executive.first_name);
                formdata.append('otherName', this.executive.other_name);
                formdata.append('email', this.executive.email);
                formdata.append('contact', this.executive.contact);
                formdata.append('image', this.executive.image);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/save/owners', formdata, config)
                .then(() => {
                    this.closeModal();
                    Fire.$emit('refresh');
                    Toast.fire("Success :","School Owner record saved successfully","success");
                    this.progress = false;
                }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            editForm(){
                this.progress = true;

                let formdata = new FormData();
                formdata.append('id', this.executive.id);
                formdata.append('firstName', this.executive.first_name);
                formdata.append('otherName', this.executive.other_name);
                formdata.append('email', this.executive.email);
                formdata.append('contact', this.executive.contact);
                formdata.append('image', this.executive.image);

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress:  (progressEvent) => {
                        let load = (progressEvent.loaded / progressEvent.total) * 100;
                        this.holdme = Math.floor(load) + '%';
                    },
                };

                axios.post('/admin/update/owners', formdata, config)
                    .then(() => {
                        $('#editUsers').modal('hide');
                        Fire.$emit('refresh');
                        Toast.fire("Success :","School Owner Information updated successfully","success");
                        this.progress = false;
                    }).catch((error) => {
                    let keys = Object.keys(error.response.data.error);
                    Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                });

            },

            deleteUser(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Executive will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/user/' + id)
                        .then(() => {
                            Toast.fire('Deleting Executive!','Executive has been deleted','success');
                            Fire.$emit('refresh');
                        }).catch(() => {
                            Swal.fire("Failed","Could not delete executive","warning");
                        });
                    }
                });
            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

            printIDCard(user){
                this.cardInfo.user_id = user.userID.toUpperCase();
                this.cardInfo.name = user.other_name.toUpperCase() + " " + user.first_name.toUpperCase();
                this.cardInfo.post_port = user.image;
                this.cardInfo.position = user.position.toUpperCase();
                this.getMemberSchool(user.id);
                this.showCardModal();
            },

            showCardModal(){
                $('#cardModal').modal('show');
            },

            increaseDate(date){
                let d = new Date();
                let year = d.getFullYear();
                let month = d.getMonth();
                let day = d.getDate();

                let expired = new Date(year + date, month, day);
                let today = new Date(year, month, day);

                this.cardInfo.issued_date = today.toLocaleDateString("en-US");
                this.cardInfo.expired_date = expired.toLocaleDateString("en-US")

                console.log(this.cardInfo.issued_date, this.cardInfo.expired_date);
            },

            getMemberSchool(id) {
                axios.get('/admin/membership/schools/' + id)
                .then((res) => {
                    this.cardInfo.schools = res.data;
                }).catch(() => {
                    Swal.fire("Failed!","Getting all School Owners Failed", "warning");
                });
            },

        },

        created(){
            this.increaseDate(2);
            this.getAllExecutive();
            Fire.$on('refresh',() => {
                this.getAllExecutive();
            });
        },

        computed:{

            filteredUser(){
                let executive = this.allExecutive;
                if(this.search){
                    executive = executive.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return executive;
            },

            paginated(){
                return this.paginate(this.filteredUser, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style scoped>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }

    @media print {
        .myCard {
            border: 2px dotted #CE9BA1;
            border-radius: 5px;
            background-image: linear-gradient(to right, #e2fff3, #fdf5ff);
            font-size: 10px;
        }

        .top{
            font-size: 15px;
            border: 2px dotted #CE9BA1;
        }

        .foot{
            font-size: 15px;
        }

        .head-card{
            font-size:9px;
            font-weight:bold;
        }

    }

</style>