<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <h3 class="page-header">
                    <i class="fa fa-table"></i>
                    <b>Detailed Information on {{ schoolDetail.school_name }}</b>
                </h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a :href="'/admin/sch/schools'" class="btn btn-danger pull-right">
                    <i class="fa fa-arrow-left"></i>
                    Back
                </a>
            </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default" v-show="schoolDetail">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" title="Click to show details" data-parent="#accordion"
                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less fa fa-graduation-cap"></i>
                            <b>School Proprietor and School Information</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body" style="height:400px; overflow: auto">
                       <table class="table table-responsive table-bordered">
                           <tbody>
                               <tr>
                                   <th colspan="2" class="text-center">School Information</th>
                               </tr>
                               <tr>
                                   <th>Registered ID</th>
                                   <td>{{ schoolDetail.schoolID }}</td>
                               </tr>
                               <tr>
                                   <th>School Name</th>
                                   <td>{{ schoolDetail.school_name | upperCase}}</td>
                               </tr>
                               <tr>
                                   <th>Email</th>
                                   <td>{{ schoolDetail.email }}</td>
                               </tr>
                               <tr>
                                   <th>Contact</th>
                                   <td>{{ schoolDetail.contact }}</td>
                               </tr>
                               <tr>
                                   <th>Address</th>
                                   <td>{{ schoolDetail.address }}</td>
                               </tr>
                               <tr>
                                   <th>Town</th>
                                   <td>{{ schoolDetail.town }}</td>
                               </tr>
                               <tr>
                                   <th>Suburb</th>
                                   <td>{{ schoolDetail.suburb }}</td>
                               </tr>
                               <tr>
                                   <th>Facilities</th>
                                   <td>{{ schoolDetail.facilities }}</td>
                               </tr>
                               <tr>
                                   <th>School Website Link</th>
                                   <td>{{ schoolDetail.website_url }}</td>
                               </tr>
                               <tr>
                                   <th>Established Date</th>
                                   <td>{{ schoolDetail.date_established | dateOnly }}</td>
                               </tr>
                               <tr>
                                   <th>Region</th>
                                   <td>{{ schoolDetail.regionName }}</td>
                               </tr>
                               <tr>
                                   <th>District</th>
                                   <td>{{ schoolDetail.districtName }}</td>
                               </tr>
                               <tr>
                                   <th>Zone</th>
                                   <td>{{ schoolDetail.zoneName }}</td>
                               </tr>
                               <tr>
                                   <th>Levels</th>
                                   <td>
                                       <b v-for="level in allSchoolClass" style="margin-right:10px">
                                           {{ level.name }}
                                       </b>
                                   </td>
                               </tr>
                               <tr>
                                   <th colspan="2" class="text-center">School Proprietor's Information</th>
                               </tr>
                               <tr>
                                   <th>Registered ID</th>
                                   <td>{{ schoolDetail.userID }}</td>
                               </tr>
                               <tr>
                                   <th>Proprietor's Name</th>
                                   <td>
                                       {{ schoolDetail.other_name | upperCase }} {{ schoolDetail.first_name | upperCase}}
                                   </td>
                               </tr>
                               <tr>
                                   <th>Email</th>
                                   <td>{{ schoolDetail.userEmail }}</td>
                               </tr>
                               <tr>
                                   <th>Contact</th>
                                   <td>{{ schoolDetail.userContact }}</td>
                               </tr>
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" v-show="allStudents.length > 0">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="more-less fa fa-users"></i>
                            <b>School Students Statistics</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Class</th>
                                    <th class="text-center">Rooms</th>
                                    <th class="text-center">Boys</th>
                                    <th class="text-center">Girls</th>
                                    <th class="text-center">Trained (M)</th>
                                    <th class="text-center">Untrained (M)</th>
                                    <th class="text-center">Trained (F)</th>
                                    <th class="text-center">Untrained (F)</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(student, index) in allStudents" :key="index">
                                    <td>{{ index += 1}}</td>
                                    <td>{{ student.clasName }}</td>
                                    <td class="text-center">{{ student.classrooms }}</td>
                                    <td class="text-center">{{ student.enroll_boys }}</td>
                                    <td class="text-center">{{ student.enroll_girls }}</td>
                                    <td class="text-center">{{ student.male_trained }}</td>
                                    <td class="text-center">{{ student.male_untrained }}</td>
                                    <td class="text-center">{{ student.female_trained }}</td>
                                    <td class="text-center">{{ student.female_untrained }}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-success btn-sm" @click.prevent="viewStatistics(student)"
                                               href="#" title="Click to View">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm" @click.prevent="deleteStatistics(student.id)"
                                               href="#" title="Click to Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Total</th>
                                    <th class="text-center">{{ totalClassRoom }}</th>
                                    <th class="text-center">{{ totalClassBoys }}</th>
                                    <th class="text-center">{{ totalClassGirls }}</th>
                                    <th class="text-center">{{ trainedMales }}</th>
                                    <th class="text-center">{{ untrainedMales }}</th>
                                    <th class="text-center">{{ trainedFemales }}</th>
                                    <th class="text-center">{{ untrainedFemales }}</th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" v-show="allSchoolHeads.length > 0">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" title="Click to show details" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less fa fa-male"></i>
                           <b>School Head Masters Information</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                       <table class="table table-striped table-responsive">
                           <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Full Name</th>
                                  <th>Contact</th>
                                  <th>Classes / Forms</th>
                                  <th class="text-center">Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr v-for="(master, index) in allSchoolHeads" :key="index">
                                  <td>{{ index += 1 }}</td>
                                  <td>{{ master.head_name }}</td>
                                  <td>{{ master.contact }}</td>
                                  <td>{{ master.class_form }}</td>
                                  <td class="text-center">
                                      <div class="btn-group">
                                          <a class="btn btn-success btn-sm" @click.prevent="viewSchoolHeadInfo(master)"
                                             href="#" title="Click to view school details information">
                                              <i class="fa fa-edit"></i>
                                          </a>
                                          <a class="btn btn-danger btn-sm" @click.prevent="deleteSchoolHead(master.id)"
                                             href="#" title="Click to edit school information">
                                              <i class="fa fa-trash"></i>
                                          </a>
                                      </div>
                                  </td>
                              </tr>
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" v-show="allSchoolRegister">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" title="Click to show details" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                           aria-controls="collapseFour">
                            <i class="more-less fa fa-registered"></i>
                            <b>School Registration Information</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <table class="table table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>Activity</th>
                                <th>Response</th>
                                <th>Registered ID</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Registered with Ministry of Education</td>
                                    <td>{{ allSchoolRegister.reg_with_min_eduction }}</td>
                                    <td>{{ allSchoolRegister.reg_min_number }}</td>
                                </tr>
                                <tr>
                                    <td>Registered with Registrar General</td>
                                    <td>{{ allSchoolRegister.registerar_general }}</td>
                                    <td>{{ allSchoolRegister.reg_gen_number }}</td>
                                </tr>
                                <tr>
                                    <td>Registered with GNAPS</td>
                                    <td>{{ allSchoolRegister.reg_with_gnaps }}</td>
                                    <td>{{ allSchoolRegister.gnaps_number }}</td>
                                </tr>
                               <tr>

                               </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="3">
                                    <a href="" class="btn btn-success btn-block" @click.prevent="viewSchoolRegister()">
                                        <i class="fa fa-edit"></i>
                                        <b>Edit Register Information</b>
                                    </a>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" v-show="allSchoolBook.length > 0">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" title="Click to show details" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <i class="more-less fa fa-book"></i>
                            <b>School Number of Books per Class per Subject</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Class Name</th>
                                    <th>Subject</th>
                                    <th>Qty</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(book, index) in allSchoolBook" :key="index">
                                    <td>{{ index += 1 }}</td>
                                    <td>{{ book.name }}</td>
                                    <td>{{ book.subject }}</td>
                                    <td>{{ book.number }}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-success btn-sm" @click.prevent="viewSchoolBook(book)" href="#"
                                               title="Click to view school details information">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm" @click.prevent="deleteSchoolBook(book.id)" href="#"
                                               title="Click to edit school information">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="editStatistics" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <form class="form" @submit.prevent="submitSchoolStatistic()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit School Statistics</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-cloud"></i>
                                    <b>Select Class</b>
                                </label>
                                <v-select :options="allClass"
                                          label="name"
                                          v-model="schoolPeople.class_id"
                                          :reduce="allClass => allClass.id" required
                                          placeholder="Select Class">
                                </v-select>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-sort-numeric-asc"></i>
                                    <b>No. of Classroom</b>
                                </label>
                                <input type="number" class="form-control"
                                       v-model="schoolPeople.tot_classroom" placeholder="Eg. 2">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-bell-o"></i>
                                    <b>No. of Boys</b>
                                </label>
                                <input type="number" class="form-control"
                                       v-model="schoolPeople.tot_boys" placeholder="Eg. 56">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-github"></i>
                                    <b>No. of Girls</b>
                                </label>
                                <input type="number" class="form-control"
                                       v-model="schoolPeople.tot_girls" placeholder="Eg. 33">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-train"></i>
                                    <b>No. of Male Trained Teachers</b>
                                </label>
                                <input type="number" class="form-control"
                                       v-model="schoolPeople.male_trained" placeholder="Eg. 3">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-male"></i>
                                    <b>No. of Male Untrained Teachers</b>
                                </label>
                                <input type="number" class="form-control"
                                       v-model="schoolPeople.male_untrained" placeholder="Eg. 1">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-female"></i>
                                    <b>No. of Female Trained Teachers</b>
                                </label>
                                <input type="number" class="form-control"
                                       v-model="schoolPeople.female_trained" placeholder="Eg. 3">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-train"></i>
                                    <b>No. of Female Untrained Teachers</b>
                                </label>
                                <input type="number" class="form-control"
                                       v-model="schoolPeople.female_untrained" placeholder="Eg. 1">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-edit"></i>
                                <b>Update School Statistic Info</b>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="editHeadInfo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <form class="form" @submit.prevent="submitSchoolHeadInfo()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit School HeadMaster Info</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-user"></i>
                                   <b> Name of Head Master</b>
                                </label>
                                <input type="text" class="form-control"
                                       v-model="headMaster.head_name" placeholder="Head Name">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-phone"></i>
                                    <b>Head's Contact Number</b>
                                </label>
                                <vue-tel-input :maxLen="15" v-model="headMaster.head_contact" required>
                                </vue-tel-input>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-cloud"></i>
                                   <b> Class / Form</b>
                                </label>
                                <input type="text" class="form-control"
                                       v-model="headMaster.class_form" placeholder="Class/Form">
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-edit"></i>
                                <b>Update School HeadMaster Info</b>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="editRegisterInfo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <form class="form" @submit.prevent="submitSchoolRegister()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit School Register Info</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-registered"></i>
                                    <b>Is the school registered with the Ministry of Education ?</b>
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" required v-model="schoolRegister.reg_min"
                                           name="min" value="Yes">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="schoolRegister.reg_min"
                                           value="No" name="min">
                                    No
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-navicon"></i>
                                    <b>Enter Registration Number</b>
                                </label>
                                <input type="text" v-model="schoolRegister.min_number" class="form-control"
                                       placeholder="Enter Registration Number ">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-registered"></i>
                                    <b>Is the school registered with the Registrar General ?</b>
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" required v-model="schoolRegister.reg_gen"
                                           name="gen" value="Yes">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="schoolRegister.reg_gen"
                                           value="No" name="gen">
                                    No
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-navicon"></i>
                                    <b>Enter Registration Number</b>
                                </label>
                                <input type="text" v-model="schoolRegister.gen_number" class="form-control"
                                       placeholder="Enter Registration Number ">
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-registered"></i>
                                    <b>Is the school registered with GNAPS ?</b>
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" required v-model="schoolRegister.reg_gnaps"
                                           name="gnaps" value="Yes">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="schoolRegister.reg_gnaps"
                                           value="No" name="gnaps">
                                    No
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-navicon"></i>
                                    <b> Enter Registration Number</b>
                                </label>
                                <input type="text" v-model="schoolRegister.gnaps_number" class="form-control"
                                       placeholder="Enter Registration Number">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-edit"></i>
                                <b>Update School Register</b>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="editSchoolBook" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <form class="form" @submit.prevent="submitSchoolTextBooksForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white" class="text-center">
                                <b>Edit School Books Record</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>Select Class / Form</label>
                                <v-select :options="allClass"
                                            v-model="addBooks.class_id"
                                            label="name"
                                            :reduce="allClass => allClass.id" required
                                            placeholder="Select Class">
                                </v-select>
                            </div>
                                                   
                            <div class="form-group">
                                <label>Select Subject</label>
                                <v-select :options="allSubject"
                                            v-model="addBooks.subject_id"
                                            label="subject"
                                            :reduce="allSubject => allSubject.id" required
                                            placeholder="Select Subject">
                                </v-select>
                            </div>
                                           
                            <div class="form-group">
                                <label>Enter Number of Books</label>
                                <input type="number" class="form-control"
                                        v-model="addBooks.number" placeholder="Total TextBooks">
                            </div>
                           
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-edit"></i>
                                <b>Update School Book</b>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </section>

</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        props:['id'],
        components:{
            vSelect,
        },
        data(){
            return {
               classrooms:0,
               totalBoys:0,
               totalGirls:0,
               totalMaleTrained:0,
               totalMaleUntrained:0,
               totalFemaleTrained:0,
               totalFemaleUntrained:0,
               school:{
                   id:'',
               },
               schoolDetail:'',
               allStudents:[],
               allSchoolHeads:[],
               allSchoolRegister:'',
               allSchoolClass:[],
               allClass:[],
               allSchoolBook:[],
               allSubject:[],
               schoolPeople: {
                    id:'',
                    class_id:'',
                    tot_classroom:'',
                    tot_boys:'',
                    tot_girls:'',
                    male_trained:'',
                    male_untrained:'',
                    female_trained:'',
                    female_untrained:'',
               },
               headMaster:{
                    id:'',
                    head_name:'',
                    head_contact:'',
                    class_form:'',
               },
               schoolRegister:{
                    id:'',
                    reg_min:'',
                    min_number:'',
                    reg_gen:'',
                    gen_number:'',
                    reg_gnaps:'',
                    gnaps_number:'',
                },
                addBooks:{
                    id:'',
                    class_id:'',
                    subject_id:'',
                    number:'',
                },
            }
        },

        methods:{

            getSchool(id){
                axios.get('/admin/view/school/' + id)
                    .then((res) => {
                        this.schoolDetail = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Detail Failed", "warning");
                });
            },

            getStudents(id){
                axios.get('/admin/view/students/' + id)
                    .then((res) => {
                        this.allStudents = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Students Failed", "warning");
                });
            },

            getSchoolHeads(id){
                axios.get('/admin/view/head/' + id)
                    .then((res) => {
                        this.allSchoolHeads = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Heads Masters Failed", "warning");
                });
            },

            getSchoolRegister(id){
                axios.get('/admin/view/register/' + id)
                    .then((res) => {
                        this.allSchoolRegister = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Register Failed", "warning");
                });
            },

            getSchoolClass(id){
                axios.get('/admin/view/school_class/' + id)
                    .then((res) => {
                        this.allSchoolClass = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Class Failed", "warning");
                });
            },

            getSchoolBook(id){
                axios.get('/admin/view/school_book/' + id)
                    .then((res) => {
                        this.allSchoolBook = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all School Books Failed", "warning");
                });
            },

            getAllClasse() {
                axios.get('/all/classes')
                    .then((res) => {
                        this.allClass = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Classes Failed", "warning");
                });
            },

            getAllSubject() {
                axios.get('/all/subjects')
                    .then((res) => {
                        this.allSubject = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!", "Getting all Subject Failed", "warning");
                });
            },


            viewStatisticModal(){
                $('#editStatistics').modal('show');
            },

            viewStatistics(student){
                this.schoolPeople.id = student.id;
                this.schoolPeople.class_id = student.class_id;
                this.schoolPeople.tot_boys = student.enroll_boys;
                this.schoolPeople.tot_girls = student.enroll_girls;
                this.schoolPeople.tot_classroom = student.classrooms;
                this.schoolPeople.male_trained = student.male_trained;
                this.schoolPeople.male_untrained = student.male_untrained;
                this.schoolPeople.female_trained = student.female_trained;
                this.schoolPeople.female_untrained = student.female_untrained;

                this.viewStatisticModal();
            },

            submitSchoolStatistic(){
                let formdata = new FormData();

                formdata.append('id', this.schoolPeople.id);
                formdata.append('classID', this.schoolPeople.class_id);
                formdata.append('classroom', this.schoolPeople.tot_classroom);
                formdata.append('boys', this.schoolPeople.tot_boys);
                formdata.append('girls', this.schoolPeople.tot_girls);
                formdata.append('male_trained', this.schoolPeople.male_trained);
                formdata.append('male_untrained', this.schoolPeople.male_untrained);
                formdata.append('female_trained', this.schoolPeople.female_trained);
                formdata.append('female_untrained', this.schoolPeople.female_untrained);

                axios.post('/admin/update/statistic/class', formdata)
                .then(() => {
                    $('#editStatistics').modal('hide');
                    Toast.fire("Success :","Classes statistics updated successfully","success");
                    this.getStudents(this.school.id);
                }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },

            deleteStatistics(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Statistic info will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/statistics/' + id)
                            .then(() => {
                                Toast.fire('Deleting!','Statistic info has been deleted','success');
                                this.getStudents(this.school.id);
                            }).catch(() => {
                            Swal.fire("Failed","Could not delete statistic info","warning");
                        });
                    }
                });
            },

            viewHeadInfo(){
                $('#editHeadInfo').modal('show');
            },

            viewSchoolHeadInfo(master){
                this.headMaster.id = master.id;
                this.headMaster.head_name = master.head_name;
                this.headMaster.head_contact = master.contact;
                this.headMaster.class_form = master.class_form;
                this.viewHeadInfo();
            },

            submitSchoolHeadInfo(){
                let formdata = new FormData();

                formdata.append('id', this.headMaster.id);
                formdata.append('head_name', this.headMaster.head_name);
                formdata.append('head_contact', this.headMaster.head_contact);
                formdata.append('class_form', this.headMaster.class_form);

                axios.post('/admin/update/head/info', formdata)
                .then(() => {
                    $('#editHeadInfo').modal('hide');
                    Toast.fire("Success :","Heads Information updated successfully","success");
                    this.getSchoolHeads(this.school.id);
                }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },

            deleteSchoolHead(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "School head info will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/head_info/' + id)
                            .then(() => {
                                Toast.fire('Deleting!','School head info has been deleted','success');
                                this.getSchoolHeads(this.school.id);
                            }).catch(() => {
                            Swal.fire("Failed","Could not delete school head info","warning");
                        });
                    }
                });
            },

            viewRegisterModal(){
                $('#editRegisterInfo').modal('show');
            },

            viewSchoolRegister(){
                this.schoolRegister.id = this.allSchoolRegister.id;
                this.schoolRegister.reg_min = this.allSchoolRegister.reg_with_min_eduction;
                this.schoolRegister.gnaps_number = this.allSchoolRegister.gnaps_number;
                this.schoolRegister.reg_gnaps = this.allSchoolRegister.reg_with_gnaps;
                this.schoolRegister.gen_number = this.allSchoolRegister.reg_gen_number;
                this.schoolRegister.reg_gen = this.allSchoolRegister.registerar_general;
                this.schoolRegister.min_number = this.allSchoolRegister.reg_min_number;

                this.viewRegisterModal();
            },

            submitSchoolRegister(){
                let formdata = new FormData();

                formdata.append('id', this.schoolRegister.id);
                formdata.append('reg_min', this.schoolRegister.reg_min);
                formdata.append('min_number', this.schoolRegister.min_number);
                formdata.append('reg_gen', this.schoolRegister.reg_gen);
                formdata.append('gen_number', this.schoolRegister.gen_number);
                formdata.append('reg_gnaps', this.schoolRegister.reg_gnaps);
                formdata.append('gnaps_number', this.schoolRegister.gnaps_number);


                axios.post('/admin/update/school_register', formdata)
                .then(() => {
                    Toast.fire("Success :","School Register updated successfully","success");
                    $('#editRegisterInfo').modal('hide');
                    this.getSchoolRegister(this.school.id);
                 }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },


            viewBookModal(){
                $('#editSchoolBook').modal('show');
            },

            viewSchoolBook(book){
                this.addBooks.id = book.id;
                this.addBooks.subject_id = book.subject_id;
                this.addBooks.class_id = book.class_id;
                this.addBooks.number = book.number;

                this.viewBookModal();
            },

            submitSchoolTextBooksForm(){
                let formdata = new FormData();

                formdata.append('id', this.addBooks.id);
                formdata.append('classID', this.addBooks.class_id);
                formdata.append('subjectID', this.addBooks.subject_id);
                formdata.append('totalBooks', this.addBooks.number);
               

                axios.post('/admin/update/school_book', formdata)
                .then((res) => {
                     Toast.fire("Success :","School TextBooks updated successfully","success");
                     this.getSchoolBook(this.school.id);
                     $('#editSchoolBook').modal('hide');
                }).catch((error) => {
                    if(error.response.status == 401){
                        Swal.fire("Data Exist : ",error.response.data.error,"warning");
                    } else if (error.response.status == 402) {
                        Swal.fire("Network Issue : ",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }
                });

            },

            deleteSchoolBook(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "School book info will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/head_book/' + id)
                            .then(() => {
                                Toast.fire('Deleting!','School book info has been deleted','success');
                                this.getSchoolBook(this.school.id);
                            }).catch(() => {
                            Swal.fire("Failed","Could not delete school book info","warning");
                        });
                    }
                });
            },

        },

        created(){
            this.getAllClasse();
            this.getAllSubject();
        },

        mounted() {
            this.school.id = JSON.parse(this.id);
            this.getSchool(this.school.id );
            this.getStudents(this.school.id);
            this.getSchoolHeads(this.school.id);
            this.getSchoolClass(this.school.id);
            this.getSchoolBook(this.school.id);
            this.getSchoolRegister(this.school.id);
        },

        computed : {

            totalClassRoom(){
                this.allStudents.forEach((value) => {
                    this.classrooms = this.classrooms + JSON.parse(value.classrooms);
                });
                return this.classrooms;
            },

            totalClassBoys(){
                this.allStudents.forEach((value) => {
                    this.totalBoys = this.totalBoys + JSON.parse(value.enroll_boys);
                });
                return this.totalBoys;
            },

            totalClassGirls(){
                this.allStudents.forEach((value) => {
                    this.totalGirls = this.totalGirls + JSON.parse(value.enroll_girls);
                });
                return this.totalGirls;
            },

            trainedMales(){
                this.allStudents.forEach((value) => {
                    this.totalMaleTrained = this.totalMaleTrained + JSON.parse(value.male_trained);
                });
                return this.totalMaleTrained;
            },

            untrainedMales(){
                this.allStudents.forEach((value) => {
                    this.totalMaleUntrained = this.totalMaleUntrained + JSON.parse(value.male_untrained);
                });
                return this.totalMaleUntrained;
            },

            trainedFemales(){
                this.allStudents.forEach((value) => {
                    this.totalFemaleTrained = this.totalFemaleTrained + JSON.parse(value.female_trained);
                });
                return this.totalFemaleTrained;
            },

            untrainedFemales(){
                this.allStudents.forEach((value) => {
                    this.totalFemaleUntrained = this.totalFemaleUntrained + JSON.parse(value.female_untrained);
                });
                return this.totalFemaleUntrained;
            },
        },
    }
</script>
