<template>
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel">

                    <header class="panel-heading" style="padding:10px; background-color:#394A59">
                            <h2 style="color: white">SUBJECTS TABLE</h2>
                            <p class="pull-right">
                                <a href="" class="btn btn-primary" @click.prevent="addSubject()" style="color: white">
                                    <i class="fa fa-plus"></i>
                                    <b>Add Subject</b>
                                </a>
                            </p>
                    </header>

                    <div class="panel-body">
                        <div>
                            <div class="form-group pull-left">
                                <label><b>Select :</b>
                                    <select class="my-control" v-model="length" @change="resetPagination()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label><b>Search :</b></label>
                                <input type="text" class="my-control" v-model="search" @input="resetPagination()"
                                       placeholder="Enter to search">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><i class="icon_profile"></i> Subject Name</th>
                                        <th><i class="icon_calendar"></i> Created</th>
                                        <th class="text-center"><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(subject, index) in paginated">
                                        <td>{{ index+=1 }}</td>
                                        <td>{{ subject.subject | upperCase }}</td>
                                        <td>{{ subject.created_at | dateOnly }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-success" href="#" @click.prevent="viewSubject(subject)">
                                                <i class="fa fa-edit"></i>
                                            </a> |
                                            <a class="btn btn-danger" href="#" @click.prevent="deleteSubject(subject.id)">
                                                <i class="icon_close_alt2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="row" style="text-align: center; margin-top: -40px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                           <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                           <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade" id="addSubject" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="submitForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white">
                                <b>Add New Subject</b>
                            </h3>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <button class="btn btn-primary btn-sm pull-right" @click.prevent="addNewInput()"
                                        title="Click to add more">
                                    <i class="fa fa-plus"></i>  more
                                </button>
                            </div>

                            <div class="form-group" v-for="(sub, k) in subject" :key="k">
                                <label>
                                    <i class="fa fa-renren"></i> <b>Enter Subject Name</b>
                                </label>
                                <div class="row">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
                                        <input type="text" class="form-control" v-model="sub.name"
                                               placeholder="Enter Subject Name" required>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" v-show="k > 0">
                                        <a href="" style="color: #ff0c41; margin-top:10px" class="pull-right"
                                           @click.prevent="deleteRow(k, sub)">
                                            <i class="fa fa-trash" style="color: red;"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-save"></i> Save Subject</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editSubject" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form" @submit.prevent="editForm()">

                        <div class="modal-header" style="background-color:#394A59">
                            <h3 style="color: white">
                                <b>Edit Subject</b>
                            </h3>

                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white">×</span>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label>
                                    <i class="fa fa-renren"></i> Enter Subject Name
                                </label>
                                <input type="text" class="form-control" v-model="mySubject.name"
                                       placeholder="Enter Subject Name" required>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block" style="font-size: 16px; background-color:#394A59">
                                <b style="color: white"><i class="fa fa-edit"></i> Update Subject</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</template>
<script>
    export default {
        data(){
            return{
              allSubjects:'',
              subject:[{
                 name:'',
              }],
              mySubject:{
                   id:'',
                   name:'',
              },
              pagination:{
                   currentPage:1,
                   nextPage:'',
                   prevPage:'',
                   total:'',
                   from:'',
                   to:'',
                   page:'',
              },
              search:'',
              length:10,
            }
        },

        methods:{

            getAllSubject(){
                axios.get('/admin/get/subject')
                    .then((res) => {
                        this.allSubjects = res.data;
                    }).catch(() => {
                    Swal.fire("Failed!","Getting all Subjects Failed", "warning");
                });
            },

            addNewInput() {
                this.subject.push({
                    name:'',
                });
            },

            deleteRow(index, sub) {
                let idx = this.subject.indexOf(sub);
                if (idx > -1) {
                    this.subject.splice(idx, 1);
                }
            },

            addSubject(){
                this.clearForm();
                $('#addSubject').modal('show');
            },

            closeModal(){
                $('#addSubject').modal('hide');
            },

            viewModal(){
                $('#editSubject').modal('show');
            },

            viewSubject(subject){
                this.mySubject.id = subject.id;
                this.mySubject.name = subject.subject;
                this.viewModal();
            },

            clearForm(){
                this.subject.forEach((value) => {
                    value.name = '';
                });
            },

            submitForm(){
                let formdata = new FormData();

                this.subject.forEach((value) => {
                    formdata.append('subject[]', value.name);
                });

                axios.post('/admin/save/subject', formdata)
                .then(() => {
                    this.closeModal();
                    Fire.$emit('refresh');
                    Toast.fire("Success :","Subject saved successfully","success");
                }).catch((error) => {

                    if(error.response.status == 401){
                        Swal.fire("Data Exist",error.response.data.error,"warning");
                    } else if(error.response.status == 402){
                        Swal.fire("Network Issues",error.response.data.error,"warning");
                    } else {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    }

                });

            },

            editForm(){
                let formdata = new FormData();
                formdata.append('id', this.mySubject.id);
                formdata.append('subject', this.mySubject.name);

                axios.post('/admin/update/subject', formdata)
                .then(() => {
                    $('#editSubject').modal('hide');
                    Fire.$emit('refresh');
                    Toast.fire("Success :","Subject updated successfully","success");
                }).catch((error) => {
                        if(error.data.status == 401){
                            Swal.fire("Data Exist",error.response.data.error,"warning");
                        } else if(error.data.status == 402){
                            Swal.fire("Network Issues",error.response.data.error.errorInfo,"warning");
                        } else {
                            let keys = Object.keys(error.response.data.error);
                            Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                        }
                });

            },

            deleteSubject(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Region will be deleted",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/delete/subject/' + id)
                        .then(() => {
                            Toast.fire('Deleting Subject!','Subject has been deleted','success');
                            Fire.$emit('refresh');
                        }).catch(() => {
                            Swal.fire("Failed","Could not delete subject","warning");
                        });
                    }
                });
            },

            substraction(){
                if(this.pagination.currentPage <=  1){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    --this.pagination.currentPage;
                }
            },

            addition(){
                if(this.pagination.currentPage == this.pagination.page){
                    Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                } else {
                    ++this.pagination.currentPage;
                }
            },

            paginate(array, length, pageNumber){
                this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                this.pagination.page = Math.ceil(array.length / length);
                this.pagination.total = array.length;

                return array.slice((pageNumber - 1) * length, pageNumber * length);
            },

            resetPagination(){
                this.pagination.currentPage  = 1;
                this.pagination.prevPage = '';
                this.pagination.nextPage = '';
            },

        },

        created(){
            this.getAllSubject();
            Fire.$on('refresh',() => {
                this.getAllSubject();
            });
        },

        computed:{

            filteredSubject(){
                let subject = this.allSubjects;
                if(this.search){
                    subject = subject.filter((row) => {
                        return Object.keys(row).some((key) => {
                            return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        })
                    })
                }
                return subject;
            },

            paginated(){
                return this.paginate(this.filteredSubject, this.length, this.pagination.currentPage);
            },

        },
    }
</script>

<style>
    .btn-primary{
        border: 1px solid #fff9fe;
        background-color: #394A59;
    }
</style>