<template>

    <div class="container">

        <div class="row" style="margin-top:20px">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="section-headline">
                    <h4><b>ABOUT GNAPS</b></h4>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        </div>
        <div class="row">

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="well-middle" v-show="allAbout.length > 0">
                    <div class="single-well" v-for="about in allAbout">
                        <div>
                            <h5>NEW EXECUTIVES GROUP PHOTO</h5>
                            <img :src="about.new_executives" style="width: 100%" class="img img-thumbnail" alt="Image">
                        </div>
                        <div style="margin-top:20px">
                            <h5>OLD AND NEW EXECUTIVES GROUP PHOTO</h5>
                            <img :src="about.old_executive" style="width: 100%" class="img img-thumbnail" alt="Image">
                        </div>
                        <div style="margin-top:20px">
                            <p v-html="about.about"></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>

        </div>
    </div>

</template>

<script>
 export default {
    data() {
        return {
            allAbout:[],
        }
    },

    methods: {

        getAbout(){
            axios.get('/all/about')
            .then((res) => {
                this.allAbout = res.data;
            }).catch(() => {
                Swal.fire("Failed!","Getting About Details Failed", "warning");
            });
        },

    },

    mounted() {
         this.getAbout();
    }
 }
</script>