<template>
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- Start testimonials Start -->

                <div class="testimonial-content text-center" >

                    <div class="testimonial-carousel" >

                        <div class="single-testi">
                            <a class="quate" :href="advertOne.link" target="_blank">
                                <img :src="advertOne.banner" style="width: 79px; height: 70px"
                                     alt="Logo"
                                     class="img img-circle">
                            </a>
                            <div class="testi-text">
                                <p>
                                   {{ advertOne.description}}
                                </p>
                                <h6>
                                    <a :href="advertOne.link" target="_blank">
                                        {{ advertOne.title }}
                                    </a>
                                </h6>
                            </div>
                        </div>

                        <div class="bodyOne ? 'single-testi' : 'hidden'">
                            <a class="quate" :href="'http://' + advertTwo.link" target="_blank">
                                <img :src="advertTwo.banner" alt="Logo" class="img img-circle">
                            </a>
                            <div class="testi-text">
                                <p> {{ advertTwo.description }} </p>
                                <h6>
                                    <a :href="'http://' + advertTwo.link" target="_blank">
                                        {{ advertTwo.title }}
                                    </a>
                                </h6>
                            </div>
                        </div>

                        <div class="single-testi">
                            <a class="quate" :href="'http://' + advertThree.link" target="_blank">
                                <img :src="advertThree.banner" alt="Logo" class="img img-circle">
                            </a>
                            <div class="testi-text">
                                <p> {{ advertThree.description }} </p>
                                <h6>
                                    <a :href="'http://' + advertThree.link" target="_blank">
                                        {{ advertThree.title }}
                                    </a>
                                </h6>
                            </div>
                        </div>

                        <div class="single-testi">
                            <a class="quate" :href="'http://' + advertFour.link" target="_blank">
                                <img :src="advertFour.banner" alt="Logo" class="img img-circle">
                            </a>
                            <div class="testi-text">
                                <p> {{ advertFour.description }} </p>
                                <h6>
                                    <a :href="'http://' + advertFour.link" target="_blank">
                                        {{ advertFour.title }}
                                    </a>
                                </h6>
                            </div>
                        </div>

                        <div class="single-testi">
                            <a class="quate" :href="'http://' + advertFive.link" target="_blank">
                                <img :src="advertFive.banner" alt="Logo" class="img img-circle">
                            </a>
                            <div class="testi-text">
                                <p> {{ advertFive.description }} </p>
                                <h6>
                                    <a :href="'http://' + advertFive.link" target="_blank">
                                        {{ advertFive.title }}
                                    </a>
                                </h6>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
           return {
               allAdvert:[],

               advertOne: {
                   title:'Trinity Software Center',
                   description:'Trinity Software Center is a software development firm and a social enterprise\n' +
                   'with the mission to create career perspective for young Africans with the help of I.T',
                   banner:'/images/advert/trinity_logo.jpg',
                   link:'http://www.trinitysoftwarecenter.com'
               },

               advertTwo: {
                   title:'',
                   description:'',
                   banner:'',
                   link:''
               },

               advertThree: {
                   title:'',
                   description:'',
                   banner:'',
                   link:''
               },

               advertFour: {
                   title:'',
                   description:'',
                   banner:'',
                   link:''
               },

               advertFive: {
                   title:'',
                   description:'',
                   banner:'',
                   link:''
               },

           }
        },

        methods: {
            getAdvert(){
                axios.get('/get/advert')
                .then((res) => {
                    this.allAdvert = res.data;

                    if(this.allAdvert.length > 0) {
                        this.allAdvert.forEach((value, index) => {
                            if(index === 1){
                                this.advertOne = value;
                            } else if(index === 2){
                                this.advertTwo = value;
                            } else if(index === 3){
                                this.advertThree = value;
                            } else if(index === 4){
                                this.advertFour = value;
                            } else {
                                this.advertFive = value;
                            }
                        });
                    }

                }).catch(() => {
                    Swal.fire("Failed!","Getting all Advert Failed", "warning");
                });
            },

        },


        mounted() {
            this.getAdvert();
        },

    }
</script>
