<template>

    <div class="container">

        <div class="row" v-show="paginated.length > 0">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline">
                    <h4>Latest Posts</h4>
                </div>
            </div>
        </div>

        <div class="row" v-show="paginated.length > 0">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="post in paginated">
                <div class="single-blog" id="post">
                    <div class="single-blog-img">
                        <a href="#" @click.prevent="viewPost(post.id)">
                            <img :src="'/images/gallery/' + post.image" width="100%"
                                 alt="Post Image" style="height: 250px">
                        </a>
                    </div>
                    <div class="blog-meta">
                        <span class="comments-type">
                            <i class="fa fa-comment-o"></i>
                            <a href="#" @click.prevent="viewPost(post.id)">{{ post.totalcomment }} comments</a>
                        </span>
                        <span class="date-type">
                            <i class="fa fa-calendar"></i>
                            {{ post.posted_on | dateOnly }}
                        </span>
                    </div>
                    <div class="blog-text">
                        <h5 style="font-size: 13px">
                            <a href="#" @click.prevent="viewPost(post.id)">{{ post.title | upperCase }}</a>
                        </h5>
                        <p v-html="post.body.substr(0, 150)">...</p>
                        <span>
                          <a href="#" @click.prevent="viewPost(post.id)">Read more</a>
                       </span>
                    </div>

                </div>

            </div>

        </div>

        <div class="row" v-show="paginated.length > 0" style="text-align: center;">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#"  class="page-link" @click.prevent="substraction()">
                            <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#"  class="page-link" @click.prevent="addition()">
                            <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</template>

<script>
 export default {
            data() {
                return {
                    allPosts: '',
                    pagination: {
                        currentPage: 1,
                        nextPage: '',
                        prevPage: '',
                        total: '',
                        from: '',
                        to: '',
                        page: '',
                    },
                    search: '',
                    length: 6,
                }
            },

            methods: {

                viewPost(id){
                    setTimeout(() =>{
                        window.location.href = '/view/post/' + id;
                    }, 500);
                },

                getAllPost() {
                    axios.get('/all/posts')
                        .then((res) => {
                            this.allPosts = res.data;
                        }).catch(() => {
                        Swal.fire("Failed!", "Getting all Posts Failed", "warning");
                    });
                },

                substraction() {
                    if (this.pagination.currentPage <= 1) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        --this.pagination.currentPage;
                    }
                },

                addition() {
                    if (this.pagination.currentPage == this.pagination.page) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        ++this.pagination.currentPage;
                    }
                },

                paginate(array, length, pageNumber) {
                    this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                    this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                    this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                    this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                    this.pagination.page = Math.ceil(array.length / length);
                    this.pagination.total = array.length;

                    return array.slice((pageNumber - 1) * length, pageNumber * length);
                },

                resetPagination() {
                    this.pagination.currentPage = 1;
                    this.pagination.prevPage = '';
                    this.pagination.nextPage = '';
                },

            },

            created() {
                this.getAllPost();
                Fire.$on('refresh', () => {
                    this.getAllPost();
                });
            },

            computed: {

                filteredPost() {
                    let post = this.allPosts;
                    if (this.search) {
                        post = post.filter((row) => {
                            return Object.keys(row).some((key) => {
                                return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                            })
                        })
                    }
                    return post;
                },

                paginated() {
                    return this.paginate(this.filteredPost, this.length, this.pagination.currentPage);
                },

            },
        }
</script>
<style scoped>
    #post{
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        height: 470px;
        overflow: auto;
    }
</style>