<template>

    <div class="container" style="margin-top:20px">
        <div class="row" v-show="paginated.length > 0">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline">
                    <h3>Our Executives Contacts</h3>
                </div>
            </div>
        </div>

        <div class="row" v-show="paginated.length > 0">
            <div class="team-top" v-for="user in paginated">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-team-member" style="margin-bottom: 10px">
                        <div class="team-img text-center">
                            <img :src="user.image" class="img img-thumbnail" alt="Profile" width="100%"
                                 style="height:350px">
                        </div>
                        <div class="team-content text-center">
                            <h6>
                                <b>{{ user.other_name | upperCase }} {{ user.first_name | upperCase }}</b>
                            </h6>
                            <p><i class="fa fa-envelope"></i> {{ user.email }}</p>
                            <p><i class="fa fa-phone"></i> {{ user.contact }}</p>
                            <p><i class="fa fa-user"></i> {{ user.position }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-show="paginated.length > 0" style="text-align: center;">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                            <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                            <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</template>

<script>
 export default {
            data() {
                return {
                    allExecutive: '',
                    pagination: {
                        currentPage: 1,
                        nextPage: '',
                        prevPage: '',
                        total: '',
                        from: '',
                        to: '',
                        page: '',
                    },
                    search: '',
                    length: 9,
                }
            },

            methods: {

                getAllExecutive() {
                    axios.get('/executive/users')
                        .then((res) => {
                            this.allExecutive = res.data;
                        }).catch(() => {
                        Swal.fire("Failed!", "Getting all Executives Failed", "warning");
                    });
                },

                substraction() {
                    if (this.pagination.currentPage <= 1) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        --this.pagination.currentPage;
                    }
                },

                addition() {
                    if (this.pagination.currentPage == this.pagination.page) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        ++this.pagination.currentPage;
                    }
                },

                paginate(array, length, pageNumber) {
                    this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                    this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                    this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                    this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                    this.pagination.page = Math.ceil(array.length / length);
                    this.pagination.total = array.length;

                    return array.slice((pageNumber - 1) * length, pageNumber * length);
                },

                resetPagination() {
                    this.pagination.currentPage = 1;
                    this.pagination.prevPage = '';
                    this.pagination.nextPage = '';
                },

            },

            created() {
                this.getAllExecutive();
                Fire.$on('refresh', () => {
                    this.getAllExecutive();
                });
            },

            computed: {

                filteredUser() {
                    let executive = this.allExecutive;
                    if (this.search) {
                        executive = executive.filter((row) => {
                            return Object.keys(row).some((key) => {
                                return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                            })
                        })
                    }
                    return executive;
                },

                paginated() {
                    return this.paginate(this.filteredUser, this.length, this.pagination.currentPage);
                },

            },
        }
</script>