<template>

    <div class="container" style="margin-top: 20px">

        <div class="row" v-show="paginated.length > 0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline">
                    <h2>Galleries</h2>
                </div>
            </div>
        </div>

        <div class="row" v-show="paginated.length > 0">

            <div class="awesome-project-content">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 design development" v-for="image in paginated">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#">
                                <img :src="image.gallery" style="height:300px" class="img img-thumbnail" alt="Image" width="100%" />
                            </a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" :href="image.gallery">
                                        <h4 style="font-size: 10px">{{ image.title }}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="row" v-show="paginated.length > 0" style="text-align: center;">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="substraction()">
                            <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#" class="page-link" @click.prevent="addition()">
                            <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</template>

<script>
 export default {
            data() {
                return {
                    allGallery: '',
                    pagination: {
                        currentPage: 1,
                        nextPage: '',
                        prevPage: '',
                        total: '',
                        from: '',
                        to: '',
                        page: '',
                    },
                    search: '',
                    length: 9,
                }
            },

            methods: {

                getAllGallery() {
                    axios.get('/all/gallery')
                        .then((res) => {
                            this.allGallery = res.data;
                        }).catch(() => {
                        Swal.fire("Failed!", "Getting all Gallery Failed", "warning");
                    });
                },

                substraction() {
                    if (this.pagination.currentPage <= 1) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        --this.pagination.currentPage;
                    }
                },

                addition() {
                    if (this.pagination.currentPage == this.pagination.page) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        ++this.pagination.currentPage;
                    }
                },

                paginate(array, length, pageNumber) {
                    this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                    this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                    this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                    this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                    this.pagination.page = Math.ceil(array.length / length);
                    this.pagination.total = array.length;

                    return array.slice((pageNumber - 1) * length, pageNumber * length);
                },

                resetPagination() {
                    this.pagination.currentPage = 1;
                    this.pagination.prevPage = '';
                    this.pagination.nextPage = '';
                },

            },

            created() {
                this.getAllGallery();
                Fire.$on('refresh', () => {
                    this.getAllGallery();
                });
            },

            computed: {

                filteredGallery() {
                    let gallery = this.allGallery;
                    if (this.search) {
                        gallery = gallery.filter((row) => {
                            return Object.keys(row).some((key) => {
                                return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                            })
                        })
                    }
                    return gallery;
                },

                paginated() {
                    return this.paginate(this.filteredGallery, this.length, this.pagination.currentPage);
                },

            },
        }
</script>