<template>
    <div class="container">
        <div class="modal fade" id="userLogin">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color:#394A59">
                        <h6 class="text-center" style="color: white">
                            PROVIDE CREDENTIALS
                        </h6>
                        <button type="button" style="color: white" class="close float-left" data-dismiss="modal">
                            ×
                        </button>
                    </div>

                    <form class="form" @submit.prevent="submitForm()">
                        <div class="modal-body">

                             <div class="form-group">
                                 <label for="email">
                                     <i class="fa fa-envelope"></i> Enter Email
                                 </label>
                                 <input type="email" class="form-control" v-model="user.email" id="email"
                                        placeholder="Enter your email">
                             </div>

                             <div class="form-group">
                                 <label for="pass">
                                     <i class="fa fa-lock"></i> Enter Password
                                 </label>
                                 <input type="password" class="form-control" v-model="user.password" id="pass"
                                        placeholder="Enter your password">
                             </div>

                            <div class="form-group">
                                <input type="checkbox" @click="visiblePass()">
                                <label>Check Password</label>
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">
                                <i class="fa fa-sign-in"></i> Login
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                user: {
                    email:'',
                    password:'',
                },
            }
        },

        methods:{

            visiblePass() {
                let x = document.getElementById("pass");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            },

            submitForm(){
                let formData = new FormData();

                formData.append('email', this.user.email);
                formData.append('password', this.user.password);

                axios.post('/user/login', formData)
                .then((res) => {
                    Toast.fire("Success","Login successfully","success");

                    if(res.data === "Admin"){
                        setTimeout(()=>{
                            window.location.href = '/admin/index';
                        },1000);
                    }
                }).catch((error) => {
                    Toast.fire("Failed",error.response.data.error,"warning");
                });
            },
        },

        created(){
            this.user.email = '';
            this.user.password = '';
        },

    }
</script>
