<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline">
                    <h4><b>Contact Us</b></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact-icon text-center">
                    <div class="single-icon">
                        <i class="fa fa-mobile"></i>
                        <p>
                            Call: 024 4528 492 / 020 1255 333
                        </p>
                    </div>
                </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact-icon text-center">
                    <div class="single-icon">
                        <i class="fa fa-envelope-o"></i>
                        <p>
                            Email: info@gnapsashantiregion.com<br>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="contact-icon text-center">
                    <div class="single-icon">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            Address: P.O. Box CH82, Chirapatre Kumasi
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">

                <h5 class="text-center">Location of Office on Google Map</h5>

                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="400" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=Ahinsan%20Bonsuom%2C%20Kumasi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <a href="https://www.embedgooglemap.net/blog/elementor-review/"></a>
                    </div>
                </div>


            </div>



            <div class="col-md-6 col-sm-6 col-xs-12">
                <h5 class="text-center">Send Us a Message</h5>
                <div class="form contact-form">

                    <form @submit.prevent="submitForm()" class="contactForm">
                        <div class="form-group">
                            <input type="text" v-model="message.name" class="form-control"
                                   placeholder="Your Name" required />
                        </div>
                        <div class="form-group">
                            <input type="email" v-model="message.email" class="form-control"
                                   placeholder="Your Email" required/>
                        </div>
                        <div class="form-group">
                            <vue-tel-input :maxLen="15" v-model="message.contact"></vue-tel-input>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="message.subject"
                                   placeholder="Subject" required />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" v-model="message.passage" name="message" rows="5"
                                    placeholder="Write your message here" style="resize: none" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-block">
                                <i class="fa fa-send"></i> Send Message
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</template>

<script>
 export default {
    data() {
        return {
            message:{
                name:'',
                contact:'',
                email:'',
                subject:'',
                passage:'',
            },
        }
    },

    methods: {
        submitForm(){
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to send this message",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Send It!'
            }).then((result) => {

                if (result.value) {

                    let formdata = new FormData();

                    formdata.append('name', this.message.name);
                    formdata.append('contact', this.message.contact);
                    formdata.append('email', this.message.email);
                    formdata.append('subject', this.message.subject);
                    formdata.append('message', this.message.passage);

                    axios.post('/save/message', formdata)
                    .then(() => {
                        Toast.fire("Success : ","Message send successfully","success");
                        this.clearForm();
                    }).catch((error) => {
                        let keys = Object.keys(error.response.data.error);
                        Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
                    });

                }

            });

        },

        clearForm(){
            this.message.name = '';
            this.message.passage = '';
            this.message.subject = '';
            this.message.email = '';
            this.message.contact = '';
        },
    },

 }
</script>

<style>
      .mapouter{
          text-align:right;
      }

     .gmap_canvas {
         overflow:hidden;
         background:none!important;
     }
</style>