<template>
    <div class="container" style="margin-top: 20px">

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="section-headline">
                    <h4>Annual Reports</h4>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        </div>

        <div class="row" v-show="paginated.length > 0">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
            <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                <div class="faq-details">
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default" v-for="report in paginated">
                            <div class="panel-heading">
                                <h4 class="check-title">
                                    <a data-toggle="collapse" class="active" data-parent="#accordion"
                                       :href="'#check' + report.id">
                                        <span class="acc-icons"></span>
                                        {{ report.title }}
                                    </a>
                                </h4>
                            </div>
                            <div :id="'check' + report.id" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p v-html="report.content"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>
        </div>


        <div class="row" v-show="paginated.length <= 0">
            <div class="text-center">
                <h1>No Annual Report has been Added</h1>
            </div>
        </div>


        <div class="row" v-show="paginated.length > 0" style="text-align: center;">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prevPage }]" class="active">
                        <a href="#"  class="page-link" @click.prevent="substraction()">
                            <b>Previous</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link " href="#" style="color: black">
                            Page
                            <b>{{ pagination.currentPage }}</b>
                            of
                            <b>{{ pagination.page }}</b>
                        </a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.nextPage }]" class="active">
                        <a href="#"  class="page-link" @click.prevent="addition()">
                            <b>Next</b>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" style="color: black"> From
                            <b>{{ pagination.from}}</b> to
                            <b>{{ pagination.to}}</b> out of
                            <b>{{ pagination.total }}</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</template>

<script>
 export default {
            data() {
                return {
                    allReport: '',
                    pagination: {
                        currentPage: 1,
                        nextPage: '',
                        prevPage: '',
                        total: '',
                        from: '',
                        to: '',
                        page: '',
                    },
                    search:'',
                    length:3,
                }
            },

            methods: {

                getAllReport() {
                    axios.get('/all/report')
                        .then((res) => {
                            this.allReport = res.data;
                        }).catch(() => {
                        Swal.fire("Failed!", "Getting all Report Failed", "warning");
                    });
                },

                substraction() {
                    if (this.pagination.currentPage <= 1) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        --this.pagination.currentPage;
                    }
                },

                addition() {
                    if (this.pagination.currentPage == this.pagination.page) {
                        Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
                    } else {
                        ++this.pagination.currentPage;
                    }
                },

                paginate(array, length, pageNumber) {
                    this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
                    this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
                    this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
                    this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
                    this.pagination.page = Math.ceil(array.length / length);
                    this.pagination.total = array.length;

                    return array.slice((pageNumber - 1) * length, pageNumber * length);
                },

                resetPagination() {
                    this.pagination.currentPage = 1;
                    this.pagination.prevPage = '';
                    this.pagination.nextPage = '';
                },

            },

            created() {
                this.getAllReport();
            },

            computed: {

                filteredReport() {
                    let report = this.allReport;
                    if (this.search) {
                        report = report.filter((row) => {
                            return Object.keys(row).some((key) => {
                                return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                            })
                        })
                    }
                    return report;
                },

                paginated() {
                    return this.paginate(this.filteredReport, this.length, this.pagination.currentPage);
                },

            },
        }
</script>
<style>
    #post{
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }
</style>