<template>
    <div class="container" style="margin-top:20px">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="faq-details">
                        <div class="panel-group" id="accordion">
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                            {{ allPost.title }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="check1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p v-html="allPost.body"></p>
                                    </div>
                                    <div class="panel-footer">
                                        <form @submit.prevent="submitForm()">
                                            <div class="form-group">
                                                <textarea v-model="myComment.message" cols="30" rows="5" style="resize:none"
                                                          placeholder="Write your comment here" class="form-control"
                                                ></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-comment"></i> Comment
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->

                            <div class="panel panel-default" v-show="allComment.length > 0">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a class="active" data-toggle="collapse" data-parent="#accordion" href="#check2">
                                            <span class="acc-icons"></span> {{ allComment.length }} Comments
                                        </a>
                                    </h4>
                                </div>
                                <div id="check2" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding-left:10px">
                                        <div class="well-middle">
                                            <div class="single-well">
                                                <ul v-for="com in allComment">
                                                    <li>
                                                        <i class="fa fa-comment"></i> {{  com.comment  }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" v-show="allGallery.length > 0">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a class="active" data-toggle="collapse" data-parent="#accordion"
                                           href="#check3">
                                            <span class="acc-icons"></span> Images
                                        </a>
                                    </h4>
                                </div>
                                <div id="check3" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding-left:10px">

                                        <div class="awesome-project-content">
                                            <!-- single-awesome-project start -->
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 design development"
                                                 v-for="image in allGallery">
                                                <div class="single-awesome-project">
                                                    <div class="awesome-img">
                                                        <a href="#">
                                                            <img :src="image.gallery" alt="Image" width="100%"
                                                                 style="height: 250px" class="img img-thumbnail"/>
                                                        </a>
                                                        <div class="add-actions text-center">
                                                            <div class="project-dec">
                                                                <a class="venobox" data-gall="myGallery" :href="image.gallery">
                                                                    <h4 style="font-size: 10px">{{ allPost.title }}</h4>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tab-menu">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active float-left">
                                <a href="#p-view-1" role="tab" data-toggle="tab">
                                   <i class="fa fa-paperclip"></i> Recent Post
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="p-view-1">
                            <div class="tab-inner" style="padding-left: -10px">
                                <div class="event-content head-team">
                                    <ul class="list-group" v-for="lat in paginated">
                                        <li class="list-group-item">
                                           <h6>{{ lat.title }}</h6>
                                           <p v-html="lat.body.substr(0,90)"></p>
                                           <a href="" @click.prevent="viewNextPost(lat.id)" title="Click to read more">
                                               read</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Row -->

        </div>

</template>

<script>
 export default {
     props:['post','comment','gallery'],
    data() {
        return {
            myComment:{
               post_id:'',
               message:'',
            },
            allPost:'',
            allComment:[],
            allGallery:[],
            allLatestPost:[],
            pagination:{
                currentPage:1,
                nextPage:'',
                prevPage:'',
                total:'',
                from:'',
                to:'',
                page:'',
            },
            search:'',
            length:5,
        }
    },

    methods: {

        getSinglePost(id){
            axios.get('/single/post/' + id)
            .then((res) => {
                this.allPost = res.data;
            }).catch(() => {
                Swal.fire("Failed!","Getting Post Details Failed", "warning");
            });
        },

        getLatestPost(){
            axios.get('/latest/posts')
                .then((res) => {
                    this.allLatestPost = res.data;
                }).catch(() => {
                Swal.fire("Failed!","Getting Latest Post Details Failed", "warning");
            });
        },

        getSingleComment(id){
            axios.get('/single/comment/' + id)
                .then((res) => {
                    this.allComment = res.data;
                }).catch(() => {
                Swal.fire("Failed!","Getting Comments for post Failed", "warning");
            });
        },

        getSingleGallery(id){
            axios.get('/single/gallery/' + id)
                .then((res) => {
                    this.allGallery = res.data;
                }).catch(() => {
                Swal.fire("Failed!","Getting Gallery for post Failed", "warning");
            });
        },

        viewNextPost(id){
            this.getSinglePost(id);
            this.getSingleComment(id);
            this.getSingleGallery(id);

            this.myComment.post_id = id;
            this.myComment.message = '';
        },

        submitForm(){

            let formdata = new FormData();

            formdata.append('post_id', this.myComment.post_id);
            formdata.append('comment', this.myComment.message);

            axios.post('/save/comment', formdata)
            .then(() => {
                Toast.fire("Success :","Comment Send Successfully","success");
                this.getSingleComment(this.myComment.post_id);
                this.myComment.message = '';
            }).catch((error) => {
                let keys = Object.keys(error.response.data.error);
                Swal.fire("Failed",error.response.data.error[keys[0]][0],"warning");
            });

        },

        substraction(){
            if(this.pagination.currentPage <=  1){
                Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
            } else {
                --this.pagination.currentPage;
            }
        },

        addition(){
            if(this.pagination.currentPage == this.pagination.page){
                Toast.fire('Page Limit :', 'Sorry cant go further', 'warning');
            } else {
                ++this.pagination.currentPage;
            }
        },

        paginate(array, length, pageNumber){
            this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
            this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
            this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
            this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
            this.pagination.page = Math.ceil(array.length / length);
            this.pagination.total = array.length;

            return array.slice((pageNumber - 1) * length, pageNumber * length);
        },

        resetPagination(){
            this.pagination.currentPage  = 1;
            this.pagination.prevPage = '';
            this.pagination.nextPage = '';
        },

    },

    created() {
        this.getLatestPost();
    },

    computed: {
        filteredPost(){
            let post = this.allLatestPost;
            if(this.search){
                post = post.filter((row) => {
                    return Object.keys(row).some((key) => {
                        return String(row[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                    })
                })
            }
            return post;
        },

        paginated(){
            return this.paginate(this.filteredPost, this.length, this.pagination.currentPage);
        },
    },

     mounted() {
         this.allPost = JSON.parse(this.post);
         this.allComment = JSON.parse(this.comment);
         this.allGallery = JSON.parse(this.gallery);
         this.myComment.post_id = this.allPost.id;
     }
 }
</script>