/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

#loading {
    width: 100%;
    height: 100%;
    top: 1px;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.3;
    background-color: #2C2E3A;
    z-index: 99;
    text-align: center;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3EC1D5;
    border-right: 16px solid #1A1E4F;
    border-bottom: 16px solid #F05F22;
    border-left: 16px solid #8D6956;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

thead tr th{
    font-weight: bold;
}


@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

@media screen {
    .no-screen,
    .no-screen * {
        display: none !important;
    }
}

/* .navbar-default{
  overflow: auto !important;
} */
