<template>



    <div id="home" class="slider-area">

        <div class="bend niceties preview-2" v-show="allCarousel.length > 0">

            <div id="ensign-nivoslider" class="slides">
                <img :src="'/images/slider/executives.jpg'" alt="Image"
                     title="#slider-direction-6"/>
                <img :src="carouselOne.picture" alt="Image"
                     title="#slider-direction-1" />
                <img :src="carouselTwo.picture" alt="Image"
                     title="#slider-direction-2" />
                <img :src="carouselThree.picture" alt="Image"
                     title="#slider-direction-3"/>
                <img :src="carouselFour.picture" alt="Image"
                     title="#slider-direction-4"/>
                <img :src="carouselFive.picture" alt="Image"
                     title="#slider-direction-5"/>
            </div>

            <div id="slider-direction-1" class="slider-direction slider-one">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1"> <span>GNAPS ASHANTI REGION</span></h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">
                                        {{ carouselOne.title }}
                                    </h1>
                                </div>
                                <!-- layer 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider-direction-2" class="slider-direction slider-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content text-center">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1"> <span>GNAPS ASHANTI REGION</span></h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">
                                        {{ carouselTwo.title }}
                                    </h1>
                                </div>
                                <!-- layer 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider-direction-3" class="slider-direction slider-three">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1"> <span>GNAPS ASHANTI REGION</span></h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">{{ carouselThree.title}}</h1>
                                </div>
                                <!-- layer 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider-direction-4" class="slider-direction slider-four">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1"> <span>GNAPS ASHANTI REGION</span></h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">{{ carouselFour.title }}</h1>
                                </div>
                                <!-- layer 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider-direction-5" class="slider-direction slider-five">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1"><span>GNAPS ASHANTI REGION</span></h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">{{ carouselFive.title }}</h1>
                                </div>
                                <!-- layer 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider-direction-6" class="slider-direction slider-five">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content">
                                <!-- layer 1 -->
                                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                    <h2 class="title1"><span>GNAPS ASHANTI REGION</span></h2>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                    <h1 class="title2">
                                        The Old and New Executives of GNAPS Ashanti Region Group Picture
                                    </h1>
                                </div>
                                <!-- layer 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
